﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:124px;
}
#u4905 {
  position:absolute;
  left:10px;
  top:0px;
  width:1049px;
  height:124px;
}
#u4906 {
  position:absolute;
  left:2px;
  top:54px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u4907 {
  position:absolute;
  left:37px;
  top:142px;
  width:99px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u4908 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4909 {
  position:absolute;
  left:44px;
  top:169px;
  width:398px;
  height:253px;
}
#u4910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u4910 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u4911 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u4912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u4912 {
  position:absolute;
  left:0px;
  top:22px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u4913 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u4914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u4914 {
  position:absolute;
  left:0px;
  top:44px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u4915 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u4916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u4916 {
  position:absolute;
  left:0px;
  top:66px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u4917 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u4918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u4918 {
  position:absolute;
  left:0px;
  top:88px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u4919 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u4920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u4920 {
  position:absolute;
  left:0px;
  top:110px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u4921 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u4922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u4922 {
  position:absolute;
  left:0px;
  top:132px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u4923 {
  position:absolute;
  left:2px;
  top:4px;
  width:389px;
  word-wrap:break-word;
}
#u4924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:26px;
}
#u4924 {
  position:absolute;
  left:0px;
  top:154px;
  width:393px;
  height:26px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u4925 {
  position:absolute;
  left:2px;
  top:9px;
  width:389px;
  word-wrap:break-word;
}
#u4926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:24px;
}
#u4926 {
  position:absolute;
  left:0px;
  top:180px;
  width:393px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u4927 {
  position:absolute;
  left:12px;
  top:4px;
  width:379px;
  word-wrap:break-word;
}
#u4928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u4928 {
  position:absolute;
  left:0px;
  top:204px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u4929 {
  position:absolute;
  left:12px;
  top:4px;
  width:379px;
  word-wrap:break-word;
}
#u4930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
}
#u4930 {
  position:absolute;
  left:0px;
  top:226px;
  width:393px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9DDC;
}
#u4931 {
  position:absolute;
  left:12px;
  top:4px;
  width:379px;
  word-wrap:break-word;
}
#u4932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u4932 {
  position:absolute;
  left:37px;
  top:440px;
  width:64px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u4933 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u4934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#3F9DDC;
}
#u4934 {
  position:absolute;
  left:44px;
  top:467px;
  width:40px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#3F9DDC;
}
#u4935 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u4936 {
  position:absolute;
  left:187px;
  top:283px;
  width:24px;
  height:11px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u4937 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u4938 {
  position:absolute;
  left:227px;
  top:306px;
  width:24px;
  height:11px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u4939 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u4940 {
  position:absolute;
  left:219px;
  top:351px;
  width:24px;
  height:11px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u4941 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u4942 {
  position:absolute;
  left:267px;
  top:374px;
  width:24px;
  height:11px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u4943 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u4944 {
  position:absolute;
  left:255px;
  top:396px;
  width:24px;
  height:11px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:10px;
  color:#88C305;
}
#u4945 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:261px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
}
#u4946 {
  position:absolute;
  left:1128px;
  top:115px;
  width:270px;
  height:261px;
  font-size:14px;
}
#u4947 {
  position:absolute;
  left:20px;
  top:20px;
  width:230px;
  word-wrap:break-word;
}
