<section class="drop">
  <div class="cm">
    <div class="bd">

      <!-- Error Alerts -->
      <div id="sourceDetailErrors" class="alertModule">
        <div>
          <span class="icon"></span>
          <h4 role="alert">Error:</h4>
          <ul>
            <li role="alert" id="companyNameDetail-err">Select a Company Name</li>
            <li role="alert" id="productNameDetail-err">Select a Product Name</li>
            <li role="alert" id="transferValueDetail-err">Provide a Transfer Value</li>
            <li role="alert" id="acctContractDetail-err">Provide an Account / Contract Number</li>
            <li role="alert" id="investmentTypeDetail-err">Select an Investment Type</li>
          </ul>
        </div>
      </div>


      <fieldset id="inputDetails">
        <legend class="screenReader">Source Details</legend>
        <div class="clearfix">
          <h3 class="nmt">Source Detail</h3>
          <div class="clearfix">
            <div class="one_third">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="companyNameDetail">Company Name</label>
                </div>
                <div class="input">
                  Company Name
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="productNameDetail">Product Name</label>
                </div>
                <div class="input">
                  Investment Type - View
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="investmentTypeDetail">Investment Type</label>
                </div>
                <div class="input">
                  Investment Type - View
                </div>                
              </div>
            </div>

            <div class="one_third">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="transferValueDetail">Transfer Value</label>
                </div>
                <div class="input">
                  $9,553,810.00
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPairV">
               <div class="lbl">
                  <label for="acctContractDetail">Account / Contract Number</label>
                  </div>
                <div class="input">
                  Account # - View
                </div>
              </div>              
            </div>

            <div class="one_third column_last">
              
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div> 
</section>

<div class="panels transferDetailWrapper">
   
  <!-- Transfer Detail -->
  <div class="hd first">
    <span class="indicatorGreen flr"></span>
    <span id="indicator1" class="flr txt22 txtn mrs">Complete</span>
    <h3> <a id="transferDetailsPanel" title="Select to expand or collapse content below" href="javascript:void(0)" class="collapsed"><span class="icon">+</span>Transfer Detail</a></h3>
  </div>
  <div class="content" tabindex="0">
    <div class="bd">
      <div class="emphasis mbm"> Fields with asterisks (<span class="required">*</span>) are required. </div>
      <!-- Error Alerts -->
      <div id="tDetailsAlerts" class="alertModule">
        <div>
          <span class="icon"></span>
          <h4 role="alert">Error:</h4>
          <ul>
            <li role="alert" id="phone-err">Phone is a required field.</li>
            <li role="alert" id="phoneFormat-err">Phone number is not formatted properly - (999) 999-9999</li>
            <li role="alert" id="feesExpenses-err">Incur Fees or Expenses is a required field.</li>
            <li role="alert" id="transferType-err">Transfer Type is a required field.</li>
            <li role="alert" id="accountType-err">Account Type is a required field.</li>
            <li role="alert" id="minDistReq-err">Minimum Distribution Requirement is a required field.</li>
            <li role="alert" id="wireTransfer-err">Wire Transfer is a required field.</li>
            <li role="alert" id="rothAccumulations-err">Roth Acumulations is a required field.</li>
            <li role="alert" id="fullLiquidation-err">Full Liquidation is a required field.</li>
            <li role="alert" id="custAuth-err">Phone Transfer is a required field.</li>
            <li role="alert" id="fundsSent-err">Check Sent is a required field.</li>
            <li role="alert" id="followUp-err">Follow Up is a required field.</li>
            <li role="alert" id="turnAround-err">Turn Around is a required field.</li>
          </ul>
        </div>
      </div>

      <!-- Transfer Type -->
      <div class="lblFieldPairV">
        <div class="lbl">
          <label id="transferType" class="txtb">Transfer Type<span class="required">*</span></label>
        </div>
        <div class="input">            
          <div class="nonCDContent">
            <select name="transferType" data-required="true" id="transferType" disabled="disabled">
              <option value="">Please Select</option>     
              <option value="directTransferCash" selected="selected">Direct Transfer In-Cash</option>
              <option value="directRolloverCash">Direct Rollover In-Cash</option>
              <option value="directTransferKind">Direct Transfer In-Kind</option>
              <option value="directRolloverKind">Direct Rollover In-Kind</option>
              <option value="60DayRollover">60 Day Rollover</option>
            </select>
          </div>

          <div class="CDContent hidden">
            <select name="transferType" data-required="true" id="transferType" disabled="disabled">
              <option value="">Please Select</option>     
              <option value="directTransferCash">Direct Transfer In-Cash</option>
              <option value="60DayRollover">60 Day Rollover</option>
            </select>
          </div>

        </div>
      </div>
      <div class="clear"></div>

      <!-- Account Type -->
      <div class="lblFieldPairV">
        <div class="lbl">
          <label id="accountType" class="txtb">Account Type (IRC)<span class="required">*</span></label>
        </div>
        <div class="input">
          <select name="accountType" data-required="true" id="accountType" class="accountTypeDirect" disabled="disabled">
            <option selected="" value="Please select">Please select</option>
            <option value="SEP IRA">SEP IRA</option>
            <option value="Roth IRA">Roth IRA</option>
            <option value="Simple IRA">Simple IRA</option>
            <option value="Traditional IRA" selected="selected">Traditional IRA</option>
          </select>
          <select name="accountType" data-required="true" id="accountType" class="accountTypeOther hidden">
            <option selected="" value="Please select">Please select</option>
            <option value="401(a)">401(a)</option>
            <option value="401(k)">401(k)</option>
            <option value="403(b)">403(b)</option>
            <option value="403(b)(7)">403(b)(7)</option>
            <option value="414(h)">414(h)</option>
            <option value="457(b) Public">457(b) Public</option>
            <option value="Keogh Profit Sharing">Keogh Profit Sharing</option>
            <option value="Keogh Money Purchase">Keogh Money Purchase</option>
            <option value="Roth 401(k)">Roth 401(k)</option>
            <option value="Roth 403(b)">Roth 403(b)</option>
            <option value="Roth457(b)">Roth457(b)</option>
            <option value="Defined Benefit Plan">Defined Benefit Plan</option>
          </select>          
        </div>
      </div>
      <div class="clear"></div>

      <!-- Incur Fee or Expense -->
      <div class="lblFieldPairV">
        <div class="lbl">
          <label for="feesExpenses" class="txtb">Will this transaction incur a fee or expense?<span class="required">*</span></label>
        </div>
        <div class="input">
          <fieldset>
            <legend><span class="screenReader">Will this transaction incur a fee or expense?</span></legend>
            <ul class="lblinline">
              <li>
                <input type="radio" id="feesExpenses" name="feesExpenses" disabled="disabled" />
                <label for="feesExpenses-yes">Yes</label>
              </li>
              <li>
                <input type="radio" id="feesExpenses" name="feesExpenses" checked data-required="true" disabled="disabled" />
                <label for="feesExpenses-no">No</label>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
      <div class="clear"></div>
        
      <!-- Minimum Distribution Requirement -->
      <div class="lblFieldPairV mtlg mrxlg">
        <div class="lbl">
          <label id="minDistReq" class="txtb">Has the Minimum Distribution Requirement been met?<span class="required">*</span></label>
        </div>
        <div class="input">
          <fieldset>
            <legend><span class="screenReader">Has the Minimum Distribution Requirement been met?</span></legend>
            <ul class="lblinline">
              <li>
                <input type="radio" id="minDistReq" name="minDistReq" disabled="disabled" />
                <label for="minDistReq-yes">Yes</label>
              </li>
              <li>
                <input type="radio" id="minDistReq" name="minDistReq" checked data-required="true" disabled="disabled" />
                <label for="minDistReq-na">N/A</label>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
      <div class="clear"></div>
      
      <!-- Roth Accumulations -->
      <div class="lblFieldPairV mtm">
        <div class="lbl">
          <label id="rothAccumulations" class="txtb">Are there Roth after-tax accumulations a part of this contract?<span class="required">*</span></label>
        </div>
        <div class="input">
          <input type="checkbox" id="rothAccumulations" name="rothAccumulations" checked data-required="true" disabled="disabled" />
          <label for="rothAccumulations" class="txtn">No</label>
        </div>
      </div>
      <div class="clear ptlg"></div>

      <div class="btnBar">
        <button class="btn2 transferDetailsPanelBtn" title="Next"><span>Next</span></button>
      </div>
    </div>
  </div>

  <!-- Authorization Requirements -->
  <div class="hd">
    <span class="indicatorGreen flr"></span>
    <span id="indicator1" class="flr txt22 txtn mrs">Complete</span>
    <h3> <a id="authRequirementsPanel" title="Select to expand or collapse content below" href="javascript:void(0)" class="collapsed"><span class="icon">+</span>Authorization Requirements</a></h3>
  </div>
  <div class="content" tabindex="0">
    <div class="bd">

      <p>Default selections (based on previous product information supplied by the selected company) are marked below.<br>Please verify this information before continuing.</p>

      <p>Based on the carrier and product selection, some default selections have been made below.</p>
      <div class="emphasis mbm"> Fields with asterisks (<span class="required">*</span>) are required. </div>
       

      <!-- <span class="dim">(Default)</span> -->
      

      <div class="clearfix">
        <div class="one_half authRequirementsROForm">
          <!-- Phone Transfer -->
          <div class="lblFieldPairV mtm">
            <div class="lbl">
              <label for="custAuthRO" class="txtb">What method do you accept for the customer to authorize this transaction?<span class="required">*</span></label>
            </div>
            <div class="input">
              <p class="mbxs">Listed in preferred order.</p>
              <ul class="nlist">
                <li>
                  <input type="radio" id="custAuthRO-phone" name="custAuthRO" disabled="disabled" />
                  <label for="custAuthRO-phone">Phone</label>
                </li>
                <li>
                  <input type="radio" id="custAuthRO-digital" name="custAuthRO" checked data-required="true" disabled="disabled" />
                  <label for="custAuthRO-digital">Digital Authorization (Docusign)</label>
                </li>
                <li>
                  <input type="radio" id="custAuthRO-wetSig" name="custAuthRO" data-required="true"  disabled="disabled" />
                  <label for="custAuthRO-wetSig">Wet Signature (Paper Forms)</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          
          
          <!-- The below 5 items are for Digital Authorization & Wet Signature scenarios -->
          <!-- What carrier forms are required? -->
          <div class="carrierForms_wrapper">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb">What carrier forms are required?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="carrierForms-tiaa" name="carrierForms"  disabled="disabled" />
                    <label for="carrierForms-tiaa" class="txtn">TIAA Forms are accepted</label>
                  </li>
                  <li>
                    <input type="radio" id="carrierForms-alt" name="carrierForms" data-required="true" checked disabled="disabled" />
                    <label for="carrierForms-alt" class="txtn">Alternate Carrier forms are required <span class="dim">(Default)</span></label>
                  </li>
                  <li>
                    <input type="radio" id="carrierForms-both" name="carrierForms" data-required="true" disabled="disabled" />
                    <label for="carrierForms-both" class="txtn">Both TIAA and Alternate Carrier forms are required</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- Medallion Signature Guarantee (MSG) -->
          <div class="medallionSignature_wrapper">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="medallionSignature" class="txtb">Is a Medallion Signature Guarantee (MSG) required?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="medallionSignature-yes" name="medallionSignature" data-required="true"  disabled="disabled" />
                    <label for="medallionSignature">MSG is required</label>
                  </li>
                  <li>
                    <input type="radio" id="medallionSignature-no" name="medallionSignature" checked disabled="disabled" />
                    <label for="medallionSignature">MSG is NOT required <span class="dim">(Default)</span></label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- How are forms accepted? -->
          <div class="howFormsAccepted_wrapper">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb">How are forms accepted by the alt carrier?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="formsAccepted-copy" name="formsAccepted" data-required="true" checked disabled="disabled" />
                    <label for="formsAccepted-copy" class="txtn">Copy  paper (wet sign) via mail</label>
                  </li>
                  <li class="digitalAuth">
                    <div class="fll">
                      <input type="radio" id="formsAccepted-efax" name="formsAccepted" data-required="true" disabled="disabled" />
                      <label for="formsAccepted-efax" class="txtn">eFax</label>
                    </div>
                    <div class="fll efaxNumber hidden">
                      <input type="text" id="efaxNumber" name="efaxNumber" class="inputlg mllg"  placeholder="xxx-xxx-xxxx" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>  
          
          <!-- The below 4 items are for ALL scenarios -->
          <!-- How will the funds be sent? -->
          <div class="howFundsSent_wrapper">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="fundsSent" class="txtb">How will the funds be sent?<span class="required">*</span></label>
              </div>
              <div class="input">
              <p class="mbxs">Listed in preferred order.</p>
                <ul class="nlist">
                  <li>
                    <input type="radio" id="fundsSent" name="fundsSent" data-required="true" checked disabled="disabled" />
                    <label for="fundsSent" class="txtn">Wire transfer (All fees will be reimbursed)</label>
                  </li>
                  <li>
                    <input type="radio" id="fundsSent" name="fundsSent" disabled="disabled" />
                    <label for="fundsSent" class="txtn">Check to TIAA</label>
                  </li>
                  <li>
                    <input type="radio" id="fundsSent" name="fundsSent" disabled="disabled" />
                    <label for="fundsSent" class="txtn">Check to client</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- Follow Up -->
          <div class="followUp_wrapper">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="followUp" class="txtb">Is the client required for any follow up conversations with the alt carrier?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="followUp" name="followUp" data-required="true" checked disabled="disabled" />
                    <label for="followUp" class="txtn">Client is required for authorization to share information on any follow up</label>
                  </li>
                  <li>
                    <input type="radio" id="followUp" name="followUp" data-required="true" disabled="disabled" />
                    <label for="followUp" class="txtn">Client authorization is no longer required.</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- Turnaround -->
          <div class="turnAround_wrapper">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="turnAround" class="txtb">Once the alt carrier receives all paperwork, how long will it take to issue the funds?<span class="required">*</span></label>
              </div>
              <div class="input">
                <input type="text" value="8" class="inputxs" id="turnAround" name="turnAround" data-required="true" disabled="disabled" /> days
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- How do you want to send the forms to the client? -->
          <div class="sendMethod_wrapper">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="sendMethod" class="txtb">How should TIAA send forms to the client?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="sendMethod-docusign" name="sendMethod" disabled="disabled" />
                    <label for="sendMethod-docusign" class="txtn">DocuSign</span></label>
                  </li>
                  <li>
                    <input type="radio" id="sendMethod-emailPDF" name="sendMethod" disabled="disabled" />
                    <label for="sendMethod-emailPDF" class="txtn">eDelivery</label>
                  </li>
                  <li>
                    <input type="radio" id="sendMethod-release" name="sendMethod" checked disabled="disabled" />
                    <label for="sendMethod-release" class="txtn">Release to fulfillment</label>
                  </li>
                  <li>
                    <input type="radio" id="sendMethod-printLocal" name="sendMethod" data-required="true" disabled="disabled" />
                    <label for="sendMethod-printLocal" class="txtn">Print locally</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- Address -->
          <div class="sourceContactInfo_wrapper">
            <h3 class="mtm">Source Contact Information</h3>
            <fieldset>
              <legend class="screenReader">Enter Your Address</legend>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="address-field1">Address Line 1<span class="required">*</span></label>
                </div>
                <div class="input">
                  <input type="text" id="address-field1" name="address-field1" class="inputxlg" value="8 Bridge St" disabled="disabled" />
                </div>
              </div>
              <div class="clear"></div>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="address-field2">Address Line 2</label>
                </div>
                <div class="input">
                  <input type="text" id="address-field2" name="address-field2" class="inputxlg" value="Atten: Forms Processing Dept" disabled="disabled" />
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPairGroup">
                <div class="lblFieldPairV">
                  <div class="lbl">
                    <label for="city-field">City<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <input type="text" class="inputlg" id="city-field" name="city-field" value="Barnstable" disabled="disabled" />
                  </div>
                </div>
              
                <div class="lblFieldPairV">
                  <div class="lbl">
                    <label for="State">State<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <select name="state" class="inputlg" disabled="disabled" />
                      <option value="none">Please select...</option>
                      <option selected="selected" value="Maryland">Maryland</option>
                      <option value="New Hampshire">New Hampshire</option>
                      <option value="North Carolina">North Carolina</option>
                    </select>
                  </div>
                </div>
                <div class="lblFieldPairV nth">
                  <div class="lbl">
                    <label for="test-zip">ZIP Code<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <input type="text" id="test-zip" name="test-zip" maxlength="5" size="5" class="txtr" value="01748" disabled="disabled" />
                  </div>
                </div>
              </div>
            </fieldset>

            <!-- Contact Info -->
            <fieldset>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="phone" class="txtb">Phone<span class="required">*</span></label>
                </div>
                <div class="input">
                  <input type="text" class="inputlg" id="phone" name="phone" data-required="true" value="508-555-1212" disabled="disabled" />
                </div>
              </div>
            </fieldset>
            <div class="clear"></div>
          </div>
        </div>
        
        <!-- Put this section back upon change -->
        <div class="one_half authRequirementsForm hidden">
          <!-- Phone Transfer -->
          <div class="lblFieldPairV mtm">
            <div class="lbl">
              <label for="custAuth" class="txtb">What method do you accept for the customer to authorize this transaction?<span class="required">*</span></label>
            </div>
            <div class="input">
              <p class="mbxs">Listed in preferred order.</p>
              <ul class="nlist">
                <li>
                  <input type="radio" id="custAuth-phone" name="custAuth" />
                  <label for="custAuth-phone">Phone</label>
                </li>
                <li>
                  <input type="radio" id="custAuth-digital" name="custAuth" data-required="true" />
                  <label for="custAuth-digital">Digital Authorization (Docusign)</label>
                </li>
                <li>
                  <input type="radio" id="custAuth-wetSig" name="custAuth" data-required="true" />
                  <label for="custAuth-wetSig">Wet Signature (Paper Forms)</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          
          
          <!-- The below 5 items are for Digital Authorization & Wet Signature scenarios -->
          <!-- What carrier forms are required? -->
          <div class="carrierForms_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb">What carrier forms are required?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="carrierForms-tiaa" name="carrierForms" />
                    <label for="carrierForms-tiaa" class="txtn">TIAA Forms are accepted</label>
                  </li>
                  <li>
                    <input type="radio" id="carrierForms-alt" name="carrierForms" data-required="true" />
                    <label for="carrierForms-alt" class="txtn">Alternate Carrier forms are required <span class="dim">(Default)</span></label>
                  </li>
                  <li>
                    <input type="radio" id="carrierForms-both" name="carrierForms" data-required="true" />
                    <label for="carrierForms-both" class="txtn">Both TIAA and Alternate Carrier forms are required</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- Medallion Signature Guarantee (MSG) -->
          <div class="medallionSignature_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="medallionSignature" class="txtb">Is a Medallion Signature Guarantee (MSG) required?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="medallionSignature-yes" name="medallionSignature" data-required="true" />
                    <label for="medallionSignature">MSG is required</label>
                  </li>
                  <li>
                    <input type="radio" id="medallionSignature-no" name="medallionSignature" />
                    <label for="medallionSignature">MSG is NOT required <span class="dim">(Default)</span></label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- How are forms accepted? -->
          <div class="howFormsAccepted_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb">How are forms accepted by the alt carrier?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="formsAccepted-original" name="formsAccepted" />
                    <label for="formsAccepted-original" class="txtn">Original paper (wet sign) via mail <span class="dim">(Default)</span></label>
                  </li>
                  <li>
                    <input type="radio" id="formsAccepted-copy" name="formsAccepted" data-required="true" />
                    <label for="formsAccepted-copy" class="txtn">Copy  paper (wet sign) via mail</label>
                  </li>
                  <li class="digitalAuth">
                    <div class="fll">
                      <input type="radio" id="formsAccepted-efax" name="formsAccepted" data-required="true" />
                      <label for="formsAccepted-efax" class="txtn">eFax</label>
                    </div>
                    <div class="fll efaxNumber hidden">
                      <input type="text" id="efaxNumber" name="efaxNumber" class="inputlg mllg"  placeholder="xxx-xxx-xxxx" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>  
          
          <!-- How do you want to send the forms to the client? -->
          <div class="sendMethod_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="sendMethod" class="txtb">How should TIAA send forms to the client?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="sendMethod-emailPDF" name="sendMethod" />
                    <label for="sendMethod-emailPDF" class="txtn">eMail completed PDF <span class="dim">(Default)</span></label>
                  </li>
                  <li>
                    <input type="radio" id="sendMethod-release" name="sendMethod" />
                    <label for="sendMethod-release" class="txtn">Release to fulfillment</label>
                  </li>
                  <li>
                    <input type="radio" id="sendMethod-printLocal" name="sendMethod" data-required="true" />
                    <label for="sendMethod-printLocal" class="txtn">Print local</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          
          <!-- The below 4 items are for ALL scenarios -->
          <!-- How will the funds be sent? -->
          <div class="howFundsSent_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="fundsSent" class="txtb">How will the funds be sent?<span class="required">*</span></label>
              </div>
              <div class="input">
              <p class="mbxs">Listed in preferred order.</p>
                <ul class="nlist">
                  <li>
                    <input type="radio" id="fundsSent" name="fundsSent" data-required="true" />
                    <label for="fundsSent" class="txtn">Wire transfer (All fees will be reimbursed)</label>
                  </li>
                  <li>
                    <input type="radio" id="fundsSent" name="fundsSent" />
                    <label for="fundsSent" class="txtn">Check to TIAA</label>
                  </li>
                  <li>
                    <input type="radio" id="fundsSent" name="fundsSent" />
                    <label for="fundsSent" class="txtn">Check to client</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- Follow Up -->
          <div class="followUp_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="followUp" class="txtb">Is the client required for any follow up conversations with the alt carrier?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" id="followUp" name="followUp" data-required="true" />
                    <label for="followUp" class="txtn">Client is required for authorization to share information on any follow up</label>
                  </li>
                  <li>
                    <input type="radio" id="followUp" name="followUp" data-required="true" />
                    <label for="followUp" class="txtn">Client authorization is no longer required.</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- Turnaround -->
          <div class="turnAround_wrapper hidden">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="turnAround" class="txtb">Once the alt carrier receives all paperwork, how long will it take to issue the funds?<span class="required">*</span></label>
              </div>
              <div class="input">
                <input type="text" class="inputxs" id="turnAround" name="turnAround" data-required="true" /> days
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- Address -->
          <div class="sourceContactInfo_wrapper hidden">
            <h3 class="mtxlg">Source Contact Information</h3>
            <fieldset>
              <legend class="screenReader">Enter Your Address</legend>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="address-field1">Address Line 1<span class="required">*</span></label>
                </div>
                <div class="input">
                  <input type="text" id="address-field1" name="address-field1" class="inputxlg">
                </div>
              </div>
              <div class="clear"></div>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="address-field2">Address Line 2</label>
                </div>
                <div class="input">
                  <input type="text" id="address-field2" name="address-field2" class="inputxlg">
                </div>
              </div>
              <div class="clear"></div>

              <div class="lblFieldPairGroup">
                <div class="lblFieldPairV">
                  <div class="lbl">
                    <label for="city-field">City<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <input type="text" class="inputlg" id="city-field" name="city-field">
                  </div>
                </div>
              
                <div class="lblFieldPairV">
                  <div class="lbl">
                    <label for="State">State<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <select name="state" class="inputlg">
                      <option selected="selected" value="none">Please select...</option>
                      <option value="Maryland">Maryland</option>
                      <option value="New Hampshire">New Hampshire</option>
                      <option value="North Carolina">North Carolina</option>
                    </select>
                  </div>
                </div>
                <div class="lblFieldPairV nth">
                  <div class="lbl">
                    <label for="test-zip">ZIP Code<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <input type="text" id="test-zip" name="test-zip" maxlength="5" size="5" class="txtr">
                  </div>
                </div>
              </div>
            </fieldset>

            <!-- Contact Info -->
            <fieldset>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="phone" class="txtb">Phone<span class="required">*</span></label>
                </div>
                <div class="input">
                  <input type="text" class="inputlg" id="phone" name="phone" data-required="true" />
                </div>
              </div>
              <!-- <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="fax" class="txtb">Fax</label>
                </div>
                <div class="input">
                  <input type="text" class="inputlg" id="fax" name="fax" />
                </div>
              </div> -->
            </fieldset>
            <div class="clear"></div>
          </div>
        </div>

        <div class="one_half column_last">
          <div class="">
            <!-- ADD THIS BACK IN SPRINT 6 -->

            <div class="shdBox pm bdr">
              <h3 class="nm">Authorization Form Handling</h3>
              <p class="mtm">Based on the answers on the left, this is how forms will be handled.</p>
              
              <table class="summary tablesorter fw" summary="Authorization Form Handling">
              <caption>Authorization Form Handling</caption>
                <tbody>
                  <tr>
                    <th scope="row" class="w40">Client Authorization Requirements</th>
                    <td class="w20">Phone</td>
                    <td class="w20 dim">Digital</td>
                    <td class="w20 dim">Wet Signiture</td>
                  </tr>
                  <tr>
                    <th scope="row">Required Forms</th>
                    <td>NA<br>TIAA</td>
                    <td class="dim">Alt Carrier</td>
                    <td class="dim">3rd Party</td>
                  </tr>
                  <tr>
                    <th scope="row">TIAA Authorization Requirements</th>
                    <td class="dim">NA</td>
                    <td class="dim">MSG</td>
                    <td>No MSG</td>
                  </tr>
                  <tr>
                    <th scope="row">Delivery Method to Client</th>
                    <td>NA<br>Release to Fulfillment</td>
                    <td class="dim">eDelivery</td>
                    <td class="dim">Print Local</td>
                  </tr>
                  <tr>
                    <th scope="row">Delivery Method to Carrier</th>
                    <td>NA</td>
                    <td class="dim">Mail</td>
                    <td class="dim">eFax</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="btnBar">
        <button class="btn2 authRequirementsPanelBtn" title="Next"><span>Next</span></button>
      </div>
    </div>
  </div>

  <!-- Handling Instructions -->
  <div class="hd">
    <span class="indicatorGreen flr"></span>
    <span id="indicator1" class="flr txt22 txtn mrs">Complete</span>
    <h3> <a id="handlingInstructionsPanel" title="Select to expand or collapse content below" href="javascript:void(0)" class="collapsed"><span class="icon">+</span>Handling Instructions</a></h3>
  </div>
  <div class="content" tabindex="0">
    <div class="bd">
      
      <!-- Liquidation Options -->
      <div class="nonCDContent">
        <h4 class="mtxlg mbxs">Select the Liquidation Options<span class="required">*</span></h4>
        <ul class="nlist">
          <li>
            <input type="radio" name="wtradio" id="wtradioyes" checked disabled="disabled" />
            <label>Liquidate the entire account immediately and transfer proceeds to TIAA.</label>
          </li>
          <li>
            <input type="radio" name="wtradio" id="wtradiono" disabled="disabled" />
            <label>Liquidate only a portion of the account as detailed below and transfer proceeds to TIAA.</label>
          </li>
        </ul>
        <div class="wtradionoDiv mtm hidden">
          <div class="mbm txt16 txtb">Partial Liquidation Information</div>
          <table summary="External Rollovers or Transfers" class="styleA fw mbxlg" id="extRollTransTbl">
            <caption>
            External Rollovers or Transfers
            </caption>
            <thead>
              <tr>
                <th>Ticker Symbol</th>
                <th>Amount to Transfer</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="txtc"><a href="#addSymblPopup" class="editLink addSourceLink addSymbl txtb" id="">Add Symbol</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    


      <!-- Allocation Instructions -->
      <div class="bsep"></div>
      <h4 class="mtxlg mbxs">Allocation Instructions</h4>
      <h5 class="mtm">Choose how these funds will be allocated.<span class="required">*</span></h5>
      <ul class="nlist">
        <li>
          <input type="radio" name="allocationChoice" id="allocationChoiceYes" checked disabled="disabled" />
          <label><span class="txtb">Option 1: </span>Use the allocation instructions on file for the funds being transferred.<br>
            <em class="mlxlg plxlg">The default investment option will be used if there are no allocation instructions.</em></label>
        </li>
        <li>
          <input type="radio" name="allocationChoice" id="allocationChoiceNo" disabled="disabled" />
          <label><span class="txtb">Option 2:</span> Allocate the funds in this transfer to the defualt investment option: [TIAA Bank Savings.]</label>
        </li>
      </ul>
      <div class="contributionsMadeSoFar shdBox pm bdr hw hidden">
        <h5 class="nm pbm">TIAA Bank Savings Terms & Conditions</h5>
        <p class="nm">Key features and benefits:</p>
        <ul>
          <li>Competitive interest rate</li>
          <li>FDIC insured</li>
          <li>Limit of 6 withdrawals/transfers per month</li>
        </ul>
        <p class="nm">The Client will be sent the <a href="">full Terms and Conditions</a> by mail upon investment.</p>
      </div>

      <div class="btnBar mrs prxs">
        <a href="javascript:void(0);" id="continueDetailBtn" class="btn2" title="Next"><span>Next</span></a>
      </div> 
    </div>
  </div>

  <!-- Funding Forms Review -->
  <div class="hd">
    <!-- <span class="indicatorGreen flr"></span>
    <span id="indicator1" class="flr txt22 txtn mrs">Complete</span> -->
    <h3> <a id="handlingInstructionsPanel" title="Select to expand or collapse content below" href="javascript:void(0)" class="collapsed"><span class="icon">+</span>Funding Forms Review</a></h3>
  </div>
  <div class="content" tabindex="0">
    <div class="bd">
      <h4 class="mtxlg mbxs fundingDefaultHeader">Form Review</h4>
      
      <div class="fundingReq_wrapper hidden">
        <div class="successModule visible" aria-live="polite" role="alert">
          <div>
            <span class="icon"></span>
            <h4>IGO: This funding source was declared IGO</h4>
            <ul>
              <li>On March 21, 2015 by MSmith</li>
            </ul>
          </div>
        </div>

      
        <h4 class="mtxlg mbxs">Requirements<a href="#igoPopup" class="editLink mls txtn txt12">Edit</a></h4>
        
        <ul>
          <li>LOA</li>
          <li>Corporate Resolution Letter</li>
          <li>Employer Authorization</li>
          <li>Third Party Forms</li>
        </ul>
      </div>



      <div class="btnBar mrs prxs">
        <a href="#igoPopup" id="igoPopupBtn" class="btn" title="IGO"><span>IGO</span></a>
        <a href="edit_funding_lao.html?release=sprint9&toolbar=true" id="igoLaoBtn" class="btn hidden" title="Exit"><span>Exit</span></a>
      </div> 
    </div>
  </div>

</div>

<!-- Sticky Footer -->
<!-- <div class="stickyFooter">
   <div class="btnBar">
      <div class="editBtn-wrapper pllg prlg">
         <a href="#returnToFundingPopup" class="btn3 fll" title="Return to Add Funding"><span>Return to Funding Sources</span></a>
         <a href="#removeFundingSourcePopup" class="btn3" title="Remove this Source"><span>Remove this Source</span></a>
         <a href="#saveFundingPopup" class="btn3" title="Save"><span>Save</span></a>
         <a href="fund_an_account.html" class="btn flr" title="Add Funding Details"><span>Add Funding Details</span></a>
      </div>
   </div>
</div> -->