<section class="drop">
   <div class="cm">
      <div class="bd">
        <h3 class="mtxs">Plan Information</h3>
         <div class="clearfix">
            <!-- LEFT NAVIGATION -->
             <div class="one_fifth">
               <div class="leftnav" id="leftNav">
                  <div class="leftNavInner pbxlg">
                     <div class="descl">For internal use only</div>
                     <h3>Contents</h3>
                     <ul class="leftul">
                        <li><a title="" href="#">Plan Information</a></li>
                        <li><a title="" href="#">Source of Funds</a></li>
                     </ul>
                  </div>
               </div> 
            </div>
            <div class="four_fifth nmr">
              <div class="one_third">
                <div class="compact">
                  <div class="lblFieldPair">
                    <div class="lbl"> <label for="">Company Name</label> </div>
                    <div class="input">TIAA - CREF</div>
                  </div>
                  <div class="lblFieldPair">
                    <div class="lbl"> <label for="">Plan / Subplan</label> </div>
                    <div class="input">IRA201 - IR2001</div>
                  </div>
                  <div class="lblFieldPair">
                    <div class="lbl"> <label for="">Plan Name</label> </div>
                    <div class="input">Roth IRA</div>
                  </div>
                  <div class="lblFieldPair">
                    <div class="lbl"> <label for="">Contract Number</label> </div>
                    <div class="input">NA006211 / TA006216</div>
                  </div>
                </div>
              </div>
              <div class="two_thirds column_last">
                <div class="compact">
                  <div class="lblFieldPair">
                    <div class="lbl"> <label for="">Account Contract Acculimation</label> </div>
                    <div class="input">$ 72,771</div>
                  </div>
                </div>
              </div>
            </div> <!-- Close four_fifths -->
         </div>
      </div>
   </div>
</section>

<div class="panels">
   
  <!-- Source of Funds -->
  <div class="hd first">
    <span class="indicatorRed flr"></span>
    <span id="indicator1" class="flr txt22 txtn mrs">Incomplete</span>
    <h3> <a id="transferDetailsPanel" title="Select to expand or collapse content below" href="javascript:void(0)" class="expanded"><span class="icon">+</span>Source of Funds</a></h3>
  </div>
  <div class="content" tabindex="0">
    <div class="bd">  
      <div class="emphasis mbm"> Fields with asterisks (<span class="required">*</span>) are required. </div>
      

      <!-- Transfer Type -->
      <div class="lblFieldPairV">
        <div class="lbl">
          <label id="transferType" class="txtb">Select Type of Transfer/Rollover<span class="required">*</span></label>
        </div>
        <div class="input">            
          <fieldset>
            <legend><span class="screenReader">Select Type of Transfer/Rollover</span></legend>
            <ul class="lblinline">
              <li>
                <input type="radio" id="typeTransfer-direct" name="typeTransfer" />
                <label for="typeTransfer-direct">Direct Asset Transfer</label>
              </li>
              <li>
                <input type="radio" id="typeTransfer-60day" name="typeTransfer" data-required="true" />
                <label for="typeTransfer-60day">60-day Rollover</label>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
      <div class="clear"></div>

      <div class="typeDirect hidden">
        <h4>Direct Asset Transfer</h4>

        <!-- Roth Accumulations -->
        <div class="lblFieldPairV mtm">
          <div class="lbl">
            <label id="typeDirectAssetTransfer" class="txtb">Select the type of Direct Asset Transfer<span class="required">*</span></label>
          </div>
          <div class="input">
            <ul class="nlist mlm">
              <li>
                <input type="checkbox" id="typeDirectAssetTransfer-lump" name="typeDirectAssetTransfer" data-required="true" />
                <label for="typeDirectAssetTransfer-lump" class="txtn">Lump Sum Withdrawal</label>
              </li>
              <li>
                <input type="checkbox" id="typeDirectAssetTransfer-tpa2Cash" name="typeDirectAssetTransfer" data-required="true" />
                <label for="typeDirectAssetTransfer-tpa2Cash" class="txtn">TPA to Cash</label>
              </li>
            </ul>            
          </div>
        </div>
        <div class="clear"></div>

        <div class="typeDirectAssetTransfer-tpa2Cash_wrapper hidden">
          <h4>TPA to Cash</h4>
          <div class="xxwide">
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="dateAnnualTransfer">Select a date for the Annual Transfer to Begin</label>
              </div>
              <div class="input">
                <input type="text" id="dateAnnualTransfer" name="dateAnnualTransfer" class="inputDate">
              </div>
            </div>
          </div>
          <div class="clear"></div>

          <!-- Does the Participant want to transfer their entire TIAA Traditional Amount? -->
          <div class="xxwide">
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="transferEntireAmount">Does the Participant want to transfer their entire TIAA Traditional Amount?</label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Does the Participant want to transfer their entire TIAA Traditional Amount?</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="transferEntireAmount-yes" name="transferEntireAmount" aria-labelledby="transferEntireAmount" />
                      <label for="transferEntireAmount-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="transferEntireAmount-no" name="transferEntireAmount" aria-labelledby="transferEntireAmount" />
                      <label for="transferEntireAmount-no">No</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>

            <div class="lblFieldPair transferEntireAmount-Yes_wrapper hidden">
              <div class="lbl">
                <label for="">The Participant has chosen to transfer 100%</label>
              </div>
              <div class="input">
              </div>
            </div>
            <div class="lblFieldPair transferEntireAmount-No_wrapper hidden">
              <div class="lbl">
                <label for="amount2Transfer">How much of the TIAA Traditional amount does the applicant wish to transfer?</label>
              </div>
              <div class="input">
                <input type="text" id="amount2Transfer-dollar" name="amount2Transfer" class="inputs dollarFormat" placeholder="$" /> or 
                <input type="text" id="amount2Transfer-percent" name="amount2Transfer" class="inputs percentageFormat txtr" placeholder="%" />
              </div>
            </div>
          </div>
          <div class="clear"></div>

          <!-- Does the participant want federal taxes withheld fro the pre-tax amount being covered to the ROTH IRA? -->
          <div class="xxwide">
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="fedWithheld">Does the participant want federal taxes withheld fro the pre-tax amount being covered to the ROTH IRA?</label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Does the participant want federal taxes withheld fro the pre-tax amount being covered to the ROTH IRA?</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="fedWithheld-yes" name="fedWithheld" aria-labelledby="fedWithheld" />
                      <label for="fedWithheld-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="fedWithheld-no" name="fedWithheld" aria-labelledby="fedWithheld" />
                      <label for="fedWithheld-no">No</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="lblFieldPair fedWithheld-Yes_wrapper hidden">
              <div class="lbl">
                <label for="fedWithheldAmount">How much Federal Taxes does the Participant wish to have withheld?</label>
              </div>
              <div class="input">
                <input type="text" id="fedWithheldAmount-dollar" name="fedWithheldAmount" class="inputs dollarFormat" placeholder="$" /> or 
                <input type="text" id="fedWithheldAmount-percent" name="fedWithheldAmount" class="inputs percentageFormat txtr" placeholder="%" />
              </div>
            </div>
          </div>
          <div class="clear"></div>

          <!-- Does the participant certify that they are or will be terminated from the prior employer? -->
          <div class="xxwide">
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="termPriorEmployer">Does the participant certify that they are or will be terminated from the prior employer?</label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Does the participant certify that they are or will be terminated from the prior employer?</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="termPriorEmployer-yes" name="termPriorEmployer" aria-labelledby="termPriorEmployer" />
                      <label for="termPriorEmployer-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="termPriorEmployer-no" name="termPriorEmployer" aria-labelledby="termPriorEmployer" />
                      <label for="termPriorEmployer-no">No</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="lblFieldPair termPriorEmployer_wrapper hidden">
              <div class="lbl">
                <label for="termPriorEmployerDate">Date of Termination</label>
              </div>
              <div class="input">
                <input type="text" id="termPriorEmployerDate" name="termPriorEmployerDate" class="inputDate">
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>

        <div class="typeDirectAssetTransfer-lump_wrapper hidden">
          <h4 class="bsep">Select Rollover Amount</h4>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label id="rolloverAmountLump" class="screenReader">Select Rollover Amount</label>
            </div>
            <div class="input">
              <fieldset>
                <legend><span class="screenReader">Select Rollover Amount</span></legend>
                  <div class="fll mrxlg">
                    <input type="radio" id="rolloverAmountLump-Option1" name="rolloverAmountLump" aria-labelledby="rolloverAmountLump" />
                    <label for="rolloverAmountLump-Option1">Option 1</label>
                    <p class="mlm">Rollover the entire amount available.</p>
                  </div>
                  <div class="fll mrxlg">
                    <input type="radio" id="rolloverAmountLump-Option2" name="rolloverAmountLump" aria-labelledby="rolloverAmountLump" />
                    <label for="rolloverAmountLump-Option2">Option 2</label>
                    <p class="mlm">Rollover only a portion of the<br>account balance as indicated below.</p>
                  </div>
                  <div class="fll mrxlg">
                    <input type="radio" id="rolloverAmountLump-Option3" name="rolloverAmountLump" aria-labelledby="rolloverAmountLump" />
                    <label for="rolloverAmountLump-Option3">Option 3</label>
                    <p class="mlm">Systematic withdrawal</p>
                  </div>
                
              </fieldset>
            </div>
          </div>
          <div class="clear"></div>

          <!-- Lump Sum Rollover - Option 1 -->
          <div class="rolloverWrapper rollover-Option1_wrapper hidden">
            <p>If the Participant has TIAA Traditional Accumulations in a RA, GRA, or RC contract that qualifies for a Small Sum Transfer they<br>authorize the transfer of any eligible accumulation into the CREF Money Market account for the purpose of this rollover.</p>

            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="reqMinimum" class="txtb">Has the Required Minimum Distribution (RMD) been met?<span class="required">*</span></label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Has the Required Minimum Distribution (RMD) been met?</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="reqMinimum-yes" name="reqMinimum" aria-labelledby="reqMinimum" />
                      <label for="reqMinimum-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="reqMinimum-no" name="reqMinimum" aria-labelledby="reqMinimum" />
                      <label for="reqMinimum-no">No</label>
                    </li>
                    <li>
                      <input type="radio" id="reqMinimum-na" name="reqMinimum" aria-labelledby="reqMinimum" />
                      <label for="reqMinimum-na">N/A</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="qdro" class="txtb">Was this contract issued as part of a Qualified Domestic Relations Order (QDRO)?<span class="required">*</span></label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Has the Required Minimum Distribution (RMD) been met?</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="qdro-yes" name="qdro" aria-labelledby="qdro" />
                      <label for="qdro-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="qdro-no" name="qdro" aria-labelledby="qdro" />
                      <label for="qdro-no">No</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="rothAccumulations" class="txtb">ROTH Accumulations</label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">ROTH Accumulations</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="rothAccumulations-yes" name="rothAccumulations" aria-labelledby="rothAccumulations" />
                      <label for="rothAccumulations-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="rothAccumulations-no" name="rothAccumulations" aria-labelledby="rothAccumulations" />
                      <label for="rothAccumulations-no">No</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="handleRoth_wrapper hidden">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label id="handleRothAccumulations" class="txtb">How would you like to handle your ROTH Acculumations?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">How would you like to handle your ROTH Acculumations?</span></legend>
                    <ul class="nlist">
                      <li>
                        <input type="radio" id="handleRothAccumulations-exclude" name="handleRothAccumulations" aria-labelledby="handleRothAccumulations" />
                        <label for="handleRothAccumulations-exclude">Exclude ROTH Accumulations</label>
                      </li>
                      <li>
                        <input type="radio" id="handleRothAccumulations-include" name="handleRothAccumulations" aria-labelledby="handleRothAccumulations" />
                        <label for="handleRothAccumulations-include">Include only ROTH Accumulations</label>
                      </li>
                      <li>
                        <input type="radio" id="handleRothAccumulations-both" name="handleRothAccumulations" aria-labelledby="handleRothAccumulations" />
                        <label for="handleRothAccumulations-both">Include BOTH ROTH & non-Roth Accumulations</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="clear"></div>
            </div>

            <h4 class="mbs mtxlg">Future Date to Rollover Funds:</h4>
            <p>If the participant does not want these monies rolled over immediately, please specify a future date for TIAA to process the request.  (6 Month Max)</p>
            <input type="text" id="futureDate" name="futureDate" class="inputDate">

            <h4 class="mbs mtxlg">New Allocations for TIAA CREF Rollovers</h4>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="newAllocations" class="txtb">Select the Method for the New Allocations</label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Select the Method for the New Allocations</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="newAllocations-onFile" name="newAllocations" aria-labelledby="newAllocations" />
                      <label for="newAllocations-onFile">Allocation on File</label>
                    </li>
                    <li>
                      <input type="radio" id="newAllocations-different" name="newAllocations" aria-labelledby="newAllocations" />
                      <label for="newAllocations-different">Different Allocations</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="selectDifferentAllocations_wrapper hidden">
              <div class="mbm txt16 txtb">Select the different allocations</div>
              <table summary="External Rollovers or Transfers" class="styleA fw mbxlg" id="extRollTransTbl">
                <caption>Select the different allocations</caption>
                <thead>
                  <tr>
                    <th>Investment(s)</th>
                    <th>Amount</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txtc"><a href="#addTransferPopup" class="editLink"><span class="icon"></span>Add Investment</a></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h4 class="mbs mtxlg">Federal Tax Withholding</h4>
            <div class="xxwide">
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="fedWithholdingOption" class="txtb">Add Federal Tax Withholding Option?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">Add Federal Tax Withholding Option?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="fedWithholdingOption-No" name="fedWithholdingOption" aria-labelledby="fedWithholdingOption" />
                        <label for="fedWithholdingOption-No">No</label>
                      </li>
                      <li>
                        <input type="radio" id="fedWithholdingOption-Yes" name="fedWithholdingOption" aria-labelledby="fedWithholdingOption" />
                        <label for="fedWithholdingOption-Yes">Yes</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="clear"></div>

            <div class="xxwide howMuchFedWithholdingOption_wrapper hidden">
              <div class="lblFieldPair">
                <div class="lbl">
                  <label for="howMuchFedWithholdingOption" class="txtb">How much of the federal tax does the participant wish to have withheld?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">How much of the federal tax does the participant wish to have withheld?</span></legend>
                    <select id="howMuchFedWithholdingOption">
                      <option value="Percent">Percent</option>
                      <option value="Dollars">Dollars</option>
                    </select>
                    <input type="text" id="fedWithholdingAmount" name="fedWithholdingAmount" class="inputs txtr" placeholder="%" />
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="clear"></div>




            <h4 class="mbs mtxlg">Employer Plan Questions</h4>
            <p class="txtb">Select all that apply to the plan contribuitor</p>
            <div class="xxwide">
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="heartAct" class="txtn">Qualifies for this withdrawal based on the Heart Act of 2008 Legislation?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">Qualifies for this withdrawal based on the Heart Act of 2008 Legislation?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="heartAct-Yes" name="heartAct" aria-labelledby="heartAct" />
                        <label for="heartAct-Yes">Yes</label>
                      </li>
                      <li>
                        <input type="radio" id="heartAct-No" name="heartAct" aria-labelledby="heartAct" />
                        <label for="heartAct-No">No</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="lblFieldPair dateofLeaveHeartAct_wrapper hidden">
                <div class="lbl">
                  <label id="dateofLeaveHeartAct" class="txtn">If yes, provide date of leave</label>
                </div>
                <div class="input">
                  <input type="text" id="dateofLeaveHeartAct" name="dateofLeaveHeartAct" class="inputDate">
                </div>
              </div>

              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="terminated" class="txtn">Terminated from Employment?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">Terminated from Employment?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="terminated-Yes" name="terminated" aria-labelledby="terminated" />
                        <label for="terminated-Yes">Yes</label>
                      </li>
                      <li>
                        <input type="radio" id="terminated-No" name="terminated" aria-labelledby="terminated" />
                        <label for="terminated-No">No</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="inServiceWithdrawal" class="txtn">In-service withdrawal requested?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">In-service withdrawal requested?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="inServiceWithdrawal-Yes" name="inServiceWithdrawal" aria-labelledby="inServiceWithdrawal" />
                        <label for="inServiceWithdrawal-Yes">Yes</label>
                      </li>
                      <li>
                        <input type="radio" id="inServiceWithdrawal-No" name="inServiceWithdrawal" aria-labelledby="inServiceWithdrawal" />
                        <label for="inServiceWithdrawal-No">No</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="currentlyDisabled" class="txtn">Are you currently disabled?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">Are you currently disabled?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="currentlyDisabled-Yes" name="currentlyDisabled" aria-labelledby="currentlyDisabled" />
                        <label for="currentlyDisabled-Yes">Yes</label>
                      </li>
                      <li>
                        <input type="radio" id="currentlyDisabled-No" name="currentlyDisabled" aria-labelledby="currentlyDisabled" />
                        <label for="currentlyDisabled-No">No</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="lblFieldPair dateCurrentlyDisabled_wrapper hidden">
                <div class="lbl">
                  <label id="dateCurrentlyDisabled" class="txtn">If yes, provide date of leave</label>
                </div>
                <div class="input">
                  <input type="text" id="dateCurrentlyDisabled" name="dateCurrentlyDisabled" class="inputDate">
                </div>
              </div>

              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="vestedBalance" class="txtn">Vested account balance available as a cash withdrawal in accordance with the retirement plan provision:</label>
                </div>
                <div class="input">
                  <select id="u54124_input">
                    <option value="">Please select</option>
                    <option value="0%">0%</option>
                    <option value="20%">20%</option>
                    <option value="40%">40%</option>
                    <option value="60%">60%</option>
                    <option value="100%">100%</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="infoModule visible" aria-live="polite" role="alert">
               <div>
                  <span class="icon"></span>
                  <h4>Note: Employer Authorization</h4>
                  <ul>
                     <li>If you select 0% as the vested account balance available as a cash withdrawal, then an Employer Authorization is not necessary.</li>
                     <li>If you check one of the other percentages (other than 0%) as the vested account balance available as a cash withdrawal, then an Employer Authorization is required.</li>
                  </ul>
               </div>
            </div>
          </div>

          <!-- Lump Sum Rollover - Option 2 -->
          <div class="rolloverWrapper rollover-Option2_wrapper hidden">

            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="reqMinimum" class="txtb">Has the Required Minimum Distribution (RMD) been met?<span class="required">*</span></label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Has the Required Minimum Distribution (RMD) been met?</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="reqMinimum-yes" name="reqMinimum" aria-labelledby="reqMinimum" />
                      <label for="reqMinimum-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="reqMinimum-no" name="reqMinimum" aria-labelledby="reqMinimum" />
                      <label for="reqMinimum-no">No</label>
                    </li>
                    <li>
                      <input type="radio" id="reqMinimum-na" name="reqMinimum" aria-labelledby="reqMinimum" />
                      <label for="reqMinimum-na">N/A</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="qdro" class="txtb">Was this contract issued as part of a Qualified Domestic Relations Order (QDRO)?<span class="required">*</span></label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Has the Required Minimum Distribution (RMD) been met?</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="qdro-yes" name="qdro" aria-labelledby="qdro" />
                      <label for="qdro-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="qdro-no" name="qdro" aria-labelledby="qdro" />
                      <label for="qdro-no">No</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="rothAccumulations" class="txtb">ROTH Accumulations</label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">ROTH Accumulations</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="rothAccumulations-yes" name="rothAccumulations" aria-labelledby="rothAccumulations" />
                      <label for="rothAccumulations-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="rothAccumulations-no" name="rothAccumulations" aria-labelledby="rothAccumulations" />
                      <label for="rothAccumulations-no">No</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="handleRoth_wrapper hidden">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label id="handleRothAccumulations" class="txtb">How would you like to handle your ROTH Acculumations?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">How would you like to handle your ROTH Acculumations?</span></legend>
                    <ul class="nlist">
                      <li>
                        <input type="radio" id="handleRothAccumulations-exclude" name="handleRothAccumulations" aria-labelledby="handleRothAccumulations" />
                        <label for="handleRothAccumulations-exclude">Exclude ROTH Accumulations</label>
                      </li>
                      <li>
                        <input type="radio" id="handleRothAccumulations-include" name="handleRothAccumulations" aria-labelledby="handleRothAccumulations" />
                        <label for="handleRothAccumulations-include">Include only ROTH Accumulations</label>
                      </li>
                      <li>
                        <input type="radio" id="handleRothAccumulations-both" name="handleRothAccumulations" aria-labelledby="handleRothAccumulations" />
                        <label for="handleRothAccumulations-both">Include BOTH ROTH & non-Roth Accumulations</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="clear"></div>
            </div>

            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="reqMinimum" class="txtb">Has the Required Minimum Distribution (RMD) been met?<span class="required">*</span></label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Has the Required Minimum Distribution (RMD) been met?</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="reqMinimum-yes" name="reqMinimum" aria-labelledby="reqMinimum" />
                      <label for="reqMinimum-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="reqMinimum-no" name="reqMinimum" aria-labelledby="reqMinimum" />
                      <label for="reqMinimum-no">No</label>
                    </li>
                    <li>
                      <input type="radio" id="reqMinimum-na" name="reqMinimum" aria-labelledby="reqMinimum" />
                      <label for="reqMinimum-na">N/A</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="qdro" class="txtb">Was this contract issued as part of a Qualified Domestic Relations Order (QDRO)?<span class="required">*</span></label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Has the Required Minimum Distribution (RMD) been met?</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="qdro-yes" name="qdro" aria-labelledby="qdro" />
                      <label for="qdro-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="qdro-no" name="qdro" aria-labelledby="qdro" />
                      <label for="qdro-no">No</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            

            <h4 class="mbs">Future Date to Rollover Funds:</h4>
            <p>If the participant does not want these monies rolled over immediately, please specify a future date for TIAA to process the request.  (6 Month Max)</p>
            <input type="text" id="futureDate" name="futureDate" class="inputDate">

            
            <div class="w75">
              <h4 class="mbs mtxlg">Partial Transfer</h4>
              <h5 class="fll nm np">Existing Investments</h5>
              

              <div class="lblFieldPairGroup flr wide mbxs">
                <div class="lblFieldPair">
                  <div class="lbl">
                    <label for="">Calculate Withdrawal using</label>
                  </div>
                  <div class="input">
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="calcWithdrawal-dollar" name="calcWithdrawal" checked="checked" aria-labelledby="calcWithdrawal" />
                        <label for="calcWithdrawal-dollar">Dollar ($)</label>
                      </li>
                      <li>
                        <input type="radio" id="calcWithdrawal-percentage" name="calcWithdrawal" aria-labelledby="calcWithdrawal" />
                        <label for="calcWithdrawal-percentage">Percent (%)</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
 
            <table summary="External Rollovers or Transfers" class="styleA w75 mbxlg" id="extRollTransTbl">
              <caption>Select the different allocations</caption>
              <thead>
                <tr>
                  <th class="w60">Investment Name</th>
                  <th class="w20 txtr">Current<br>Balance</th>
                  <th class="w10">Amount To Be Transferred</th>
                  <th class="w10">% of Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CREF Bond Market R1</td>
                  <td class="txtr">$11,794.00</td>
                  <td><input type="text" id="existingInvestment-001" name="existingInvestment" class="inputs dollarFormat" placeholder="$" /></td>
                  <td><input type="text" id="percentOfTotal-001" name="percentOfTotal" class="inputs" value="" disabled="disabled" /></td>
                </tr>
                <tr>
                  <td>CREF Stock R1</td>
                  <td class="txtr">$129,559.50</td>
                  <td><input type="text" id="existingInvestment-002" name="existingInvestment" class="inputs dollarFormat" placeholder="$" /></td>
                  <td><input type="text" id="percentOfTotal-002" name="percentOfTotal" class="inputs" value="" disabled="disabled" /></td>
                </tr>
                <tr>
                  <td>CREF Equity Index R1</td>
                  <td class="txtr">$83,785.00</td>
                  <td><input type="text" id="existingInvestment-003" name="existingInvestment" class="inputs dollarFormat" placeholder="$" /></td>
                  <td><input type="text" id="percentOfTotal-003" name="percentOfTotal" class="inputs" value="" disabled="disabled" /></td>
                </tr>
                <tr>
                  <td>TIAA-CREF Lifecycle 2035 Fund - Retirement Class</td>
                  <td class="txtr">$31,125.00</td>
                  <td><input type="text" id="existingInvestment-004" name="existingInvestment" class="inputs dollarFormat" placeholder="$" /></td>
                  <td><input type="text" id="percentOfTotal-004" name="percentOfTotal" class="inputs" value="" disabled="disabled" /></td>
                </tr>
                <tr>
                  <td>TIAA Traditional</td>
                  <td class="txtr">$50,000.00</td>
                  <td><input type="text" id="existingInvestment-005" name="existingInvestment" class="inputs dollarFormat" placeholder="$" /></td>
                  <td><input type="text" id="percentOfTotal-005" name="percentOfTotal" class="inputs" value="" disabled="disabled" /></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2" class="txtr">Total</td>
                  <td><div id="transferTotalbg"><span id="transferTotal" class="">0</span></div></td>
                  <td></td>
                </tr>
              </tfoot>
            </table>

            <h4 class="mbs mtxlg">New Allocations for TIAA CREF Rollovers</h4>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="newAllocations" class="txtb">Select the Method for the New Allocations</label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Select the Method for the New Allocations</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="newAllocations-onFile" name="newAllocations" aria-labelledby="newAllocations" />
                      <label for="newAllocations-onFile">Allocation on File</label>
                    </li>
                    <li>
                      <input type="radio" id="newAllocations-different" name="newAllocations" aria-labelledby="newAllocations" />
                      <label for="newAllocations-different">Different Allocations</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="selectDifferentAllocations_wrapper hidden">
              <div class="mbm txt16 txtb">Select the different allocations</div>
              <table summary="External Rollovers or Transfers" class="styleA fw mbxlg" id="extRollTransTbl">
                <caption>Select the different allocations</caption>
                <thead>
                  <tr>
                    <th>Investment(s)</th>
                    <th>Amount</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txtc"><a href="#addTransferPopup" class="editLink"><span class="icon"></span>Add Investment</a></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h4 class="mbs mtxlg">Federal Tax Withholding</h4>
            <div class="xxwide">
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="fedWithholdingOption" class="txtb">Add Federal Tax Withholding Option?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">Add Federal Tax Withholding Option?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="fedWithholdingOption-No" name="fedWithholdingOption" aria-labelledby="fedWithholdingOption" />
                        <label for="fedWithholdingOption-No">No</label>
                      </li>
                      <li>
                        <input type="radio" id="fedWithholdingOption-Yes" name="fedWithholdingOption" aria-labelledby="fedWithholdingOption" />
                        <label for="fedWithholdingOption-Yes">Yes</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="clear"></div>

            <div class="xxwide howMuchFedWithholdingOption_wrapper hidden">
              <div class="lblFieldPair">
                <div class="lbl">
                  <label for="howMuchFedWithholdingOption" class="txtb">How much of the federal tax does the participant wish to have withheld?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">How much of the federal tax does the participant wish to have withheld?</span></legend>
                    <select id="howMuchFedWithholdingOption">
                      <option value="Percent">Percent</option>
                      <option value="Dollars">Dollars</option>
                    </select>
                    <input type="text" id="fedWithholdingAmount" name="fedWithholdingAmount" class="inputs txtr" placeholder="%" />
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="clear"></div>




            <h4 class="mbs mtxlg">Employer Plan Questions</h4>
            <p class="txtb">Select all that apply to the plan contribuitor</p>
            <div class="xxwide">
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="heartAct" class="txtn">Qualifies for this withdrawal based on the Heart Act of 2008 Legislation?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">Qualifies for this withdrawal based on the Heart Act of 2008 Legislation?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="heartAct-Yes" name="heartAct" aria-labelledby="heartAct" />
                        <label for="heartAct-Yes">Yes</label>
                      </li>
                      <li>
                        <input type="radio" id="heartAct-No" name="heartAct" aria-labelledby="heartAct" />
                        <label for="heartAct-No">No</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="lblFieldPair dateofLeaveHeartAct_wrapper hidden">
                <div class="lbl">
                  <label id="dateofLeaveHeartAct" class="txtn">If yes, provide date of leave</label>
                </div>
                <div class="input">
                  <input type="text" id="dateofLeaveHeartAct" name="dateofLeaveHeartAct" class="inputDate">
                </div>
              </div>

              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="terminated" class="txtn">Terminated from Employment?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">Terminated from Employment?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="terminated-Yes" name="terminated" aria-labelledby="terminated" />
                        <label for="terminated-Yes">Yes</label>
                      </li>
                      <li>
                        <input type="radio" id="terminated-No" name="terminated" aria-labelledby="terminated" />
                        <label for="terminated-No">No</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="inServiceWithdrawal" class="txtn">In-service withdrawal requested?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">In-service withdrawal requested?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="inServiceWithdrawal-Yes" name="inServiceWithdrawal" aria-labelledby="inServiceWithdrawal" />
                        <label for="inServiceWithdrawal-Yes">Yes</label>
                      </li>
                      <li>
                        <input type="radio" id="inServiceWithdrawal-No" name="inServiceWithdrawal" aria-labelledby="inServiceWithdrawal" />
                        <label for="inServiceWithdrawal-No">No</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="currentlyDisabled" class="txtn">Are you currently disabled?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">Are you currently disabled?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="currentlyDisabled-Yes" name="currentlyDisabled" aria-labelledby="currentlyDisabled" />
                        <label for="currentlyDisabled-Yes">Yes</label>
                      </li>
                      <li>
                        <input type="radio" id="currentlyDisabled-No" name="currentlyDisabled" aria-labelledby="currentlyDisabled" />
                        <label for="currentlyDisabled-No">No</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="lblFieldPair dateCurrentlyDisabled_wrapper hidden">
                <div class="lbl">
                  <label id="dateCurrentlyDisabled" class="txtn">If yes, provide date of leave</label>
                </div>
                <div class="input">
                  <input type="text" id="dateCurrentlyDisabled" name="dateCurrentlyDisabled" class="inputDate">
                </div>
              </div>

              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="vestedBalance" class="txtn">Vested account balance available as a cash withdrawal in accordance with the retirement plan provision:</label>
                </div>
                <div class="input">
                  <select id="u54124_input">
                    <option value="">Please select</option>
                    <option value="0%">0%</option>
                    <option value="20%">20%</option>
                    <option value="40%">40%</option>
                    <option value="60%">60%</option>
                    <option value="100%">100%</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="infoModule visible" aria-live="polite" role="alert">
               <div>
                  <span class="icon"></span>
                  <h4>Note: Employer Authorization</h4>
                  <ul>
                     <li>If you select 0% as the vested account balance available as a cash withdrawal, then an Employer Authorization is not necessary.</li>
                     <li>If you check one of the other percentages (other than 0%) as the vested account balance available as a cash withdrawal, then an Employer Authorization is required.</li>
                  </ul>
               </div>
            </div>
          </div>

          <!-- Lump Sum Rollover - Option 3 -->
          <div class="rolloverWrapper rollover-Option3_wrapper hidden">
            
            <h4 class="mbs mtxlg">Systematic Withdrawals</h4> 
            <div class="xxxwide">           
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="withdrawalFrequency" class="txtb">How often do you want to receive withdrawals?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">How often do you want to receive withdrawals?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="withdrawalFrequency-monthly" name="withdrawalFrequency" aria-labelledby="withdrawalFrequency" />
                        <label for="withdrawalFrequency-monthly" class="txtb">Monthly</label>
                      </li>
                      <li>
                        <input type="radio" id="withdrawalFrequency-quarterly" name="withdrawalFrequency" aria-labelledby="withdrawalFrequency" />
                        <label for="withdrawalFrequency-quarterly" class="txtb">Quarterly</label>
                      </li>
                      <li>
                        <input type="radio" id="withdrawalFrequency-semiAnnually" name="withdrawalFrequency" aria-labelledby="withdrawalFrequency" />
                        <label for="withdrawalFrequency-semiAnnually" class="txtb">SemiAnnually</label>
                      </li>
                      <li>
                        <input type="radio" id="withdrawalFrequency-annually" name="withdrawalFrequency" aria-labelledby="withdrawalFrequency" />
                        <label for="withdrawalFrequency-annually" class="txtb">Annually</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="infoModule visible w50" aria-live="polite" role="alert">
               <div>
                  <span class="icon"></span>
                  <h4>NOTE: Payments will continue as above until there are no monies in designated funds.</h4>
               </div>
            </div>

            <div class="xxxwide">
              <div class="lblFieldPairGroup">
                <div class="lblFieldPair">
                  <div class="lbl">
                    <label for="withdrawalStartDate">When do you want to start receiving withdrawals?</label>
                  </div>
                  <div class="input">
                    <label for="withdrawalStartDate" class="txtn">Start Date</label>
                    <input type="text" id="withdrawalStartDate" name="withdrawalStartDate" class="inputDate">
                  </div>
                </div>
                <div class="lblFieldPair nth">
                  <div class="lbl">
                    <label for="withdrawalEndDate" class="screenReader">When do you want to start receiving withdrawals?</label>
                  </div>
                  <div class="input">
                    <label for="withdrawalEndDate" class="txtn">End Date</label>
                    <input type="text" id="withdrawalEndDate" name="withdrawalEndDate" class="inputDate">
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>

            <ul>
              <li>Transfer Payout Annuity (TPA) Funded plans, you may choose any date from the 5th to the 28th of the month.</li>
              <li>All other plans may choose any date from the 1st to the 28th</li>
            </ul>
            <div class="clear"></div>
            




            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="reqMinimum" class="txtb">Has the Required Minimum Distribution (RMD) been met?<span class="required">*</span></label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Has the Required Minimum Distribution (RMD) been met?</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="reqMinimum-yes" name="reqMinimum" aria-labelledby="reqMinimum" />
                      <label for="reqMinimum-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="reqMinimum-no" name="reqMinimum" aria-labelledby="reqMinimum" />
                      <label for="reqMinimum-no">No</label>
                    </li>
                    <li>
                      <input type="radio" id="reqMinimum-na" name="reqMinimum" aria-labelledby="reqMinimum" />
                      <label for="reqMinimum-na">N/A</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="qdro" class="txtb">Was this contract issued as part of a Qualified Domestic Relations Order (QDRO)?<span class="required">*</span></label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Has the Required Minimum Distribution (RMD) been met?</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="qdro-yes" name="qdro" aria-labelledby="qdro" />
                      <label for="qdro-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="qdro-no" name="qdro" aria-labelledby="qdro" />
                      <label for="qdro-no">No</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="rothAccumulations" class="txtb">ROTH Accumulations</label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">ROTH Accumulations</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="rothAccumulations-yes" name="rothAccumulations" aria-labelledby="rothAccumulations" />
                      <label for="rothAccumulations-yes">Yes</label>
                    </li>
                    <li>
                      <input type="radio" id="rothAccumulations-no" name="rothAccumulations" aria-labelledby="rothAccumulations" />
                      <label for="rothAccumulations-no">No</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="handleRoth_wrapper hidden">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label id="handleRothAccumulations" class="txtb">How would you like to handle your ROTH Acculumations?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">How would you like to handle your ROTH Acculumations?</span></legend>
                    <ul class="nlist">
                      <li>
                        <input type="radio" id="handleRothAccumulations-exclude" name="handleRothAccumulations" aria-labelledby="handleRothAccumulations" />
                        <label for="handleRothAccumulations-exclude">Exclude ROTH Accumulations</label>
                      </li>
                      <li>
                        <input type="radio" id="handleRothAccumulations-include" name="handleRothAccumulations" aria-labelledby="handleRothAccumulations" />
                        <label for="handleRothAccumulations-include">Include only ROTH Accumulations</label>
                      </li>
                      <li>
                        <input type="radio" id="handleRothAccumulations-both" name="handleRothAccumulations" aria-labelledby="handleRothAccumulations" />
                        <label for="handleRothAccumulations-both">Include BOTH ROTH & non-Roth Accumulations</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="clear"></div>
            </div>

            

            <h4 class="mbs mtxlg">New Allocations for TIAA CREF Rollovers</h4>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label id="newAllocations" class="txtb">Select the Method for the New Allocations</label>
              </div>
              <div class="input">
                <fieldset>
                  <legend><span class="screenReader">Select the Method for the New Allocations</span></legend>
                  <ul class="lblinline">
                    <li>
                      <input type="radio" id="newAllocations-onFile" name="newAllocations" aria-labelledby="newAllocations" />
                      <label for="newAllocations-onFile">Allocation on File</label>
                    </li>
                    <li>
                      <input type="radio" id="newAllocations-different" name="newAllocations" aria-labelledby="newAllocations" />
                      <label for="newAllocations-different">Different Allocations</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            <div class="selectDifferentAllocations_wrapper hidden">
              <div class="mbm txt16 txtb">Select the different allocations</div>
              <table summary="External Rollovers or Transfers" class="styleA fw mbxlg" id="extRollTransTbl">
                <caption>Select the different allocations</caption>
                <thead>
                  <tr>
                    <th>Investment(s)</th>
                    <th>Amount</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txtc"><a href="#addTransferPopup" class="editLink"><span class="icon"></span>Add Investment</a></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h4 class="mbs mtxlg">Federal Tax Withholding</h4>
            <div class="xxwide">
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="fedWithholdingOption" class="txtb">Add Federal Tax Withholding Option?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">Add Federal Tax Withholding Option?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="fedWithholdingOption-No" name="fedWithholdingOption" aria-labelledby="fedWithholdingOption" />
                        <label for="fedWithholdingOption-No">No</label>
                      </li>
                      <li>
                        <input type="radio" id="fedWithholdingOption-Yes" name="fedWithholdingOption" aria-labelledby="fedWithholdingOption" />
                        <label for="fedWithholdingOption-Yes">Yes</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="clear"></div>

            <div class="xxwide howMuchFedWithholdingOption_wrapper hidden">
              <div class="lblFieldPair">
                <div class="lbl">
                  <label for="howMuchFedWithholdingOption" class="txtb">How much of the federal tax does the participant wish to have withheld?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">How much of the federal tax does the participant wish to have withheld?</span></legend>
                    <select id="howMuchFedWithholdingOption">
                      <option value="Percent">Percent</option>
                      <option value="Dollars">Dollars</option>
                    </select>
                    <input type="text" id="fedWithholdingAmount" name="fedWithholdingAmount" class="inputs txtr" placeholder="%" />
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="clear"></div>




            <h4 class="mbs mtxlg">Employer Plan Questions</h4>
            <p class="txtb">Select all that apply to the plan contribuitor</p>
            <div class="xxwide">
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="heartAct" class="txtn">Qualifies for this withdrawal based on the Heart Act of 2008 Legislation?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">Qualifies for this withdrawal based on the Heart Act of 2008 Legislation?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="heartAct-Yes" name="heartAct" aria-labelledby="heartAct" />
                        <label for="heartAct-Yes">Yes</label>
                      </li>
                      <li>
                        <input type="radio" id="heartAct-No" name="heartAct" aria-labelledby="heartAct" />
                        <label for="heartAct-No">No</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="lblFieldPair dateofLeaveHeartAct_wrapper hidden">
                <div class="lbl">
                  <label id="dateofLeaveHeartAct" class="txtn">If yes, provide date of leave</label>
                </div>
                <div class="input">
                  <input type="text" id="dateofLeaveHeartAct" name="dateofLeaveHeartAct" class="inputDate">
                </div>
              </div>

              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="terminated" class="txtn">Terminated from Employment?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">Terminated from Employment?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="terminated-Yes" name="terminated" aria-labelledby="terminated" />
                        <label for="terminated-Yes">Yes</label>
                      </li>
                      <li>
                        <input type="radio" id="terminated-No" name="terminated" aria-labelledby="terminated" />
                        <label for="terminated-No">No</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="inServiceWithdrawal" class="txtn">In-service withdrawal requested?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">In-service withdrawal requested?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="inServiceWithdrawal-Yes" name="inServiceWithdrawal" aria-labelledby="inServiceWithdrawal" />
                        <label for="inServiceWithdrawal-Yes">Yes</label>
                      </li>
                      <li>
                        <input type="radio" id="inServiceWithdrawal-No" name="inServiceWithdrawal" aria-labelledby="inServiceWithdrawal" />
                        <label for="inServiceWithdrawal-No">No</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="currentlyDisabled" class="txtn">Are you currently disabled?</label>
                </div>
                <div class="input">
                  <fieldset>
                    <legend><span class="screenReader">Are you currently disabled?</span></legend>
                    <ul class="lblinline">
                      <li>
                        <input type="radio" id="currentlyDisabled-Yes" name="currentlyDisabled" aria-labelledby="currentlyDisabled" />
                        <label for="currentlyDisabled-Yes">Yes</label>
                      </li>
                      <li>
                        <input type="radio" id="currentlyDisabled-No" name="currentlyDisabled" aria-labelledby="currentlyDisabled" />
                        <label for="currentlyDisabled-No">No</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              <div class="lblFieldPair dateCurrentlyDisabled_wrapper hidden">
                <div class="lbl">
                  <label id="dateCurrentlyDisabled" class="txtn">If yes, provide date of leave</label>
                </div>
                <div class="input">
                  <input type="text" id="dateCurrentlyDisabled" name="dateCurrentlyDisabled" class="inputDate">
                </div>
              </div>

              <div class="lblFieldPair">
                <div class="lbl">
                  <label id="vestedBalance" class="txtn">Vested account balance available as a cash withdrawal in accordance with the retirement plan provision:</label>
                </div>
                <div class="input">
                  <select id="u54124_input">
                    <option value="">Please select</option>
                    <option value="0%">0%</option>
                    <option value="20%">20%</option>
                    <option value="40%">40%</option>
                    <option value="60%">60%</option>
                    <option value="100%">100%</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="infoModule visible" aria-live="polite" role="alert">
               <div>
                  <span class="icon"></span>
                  <h4>Note: Employer Authorization</h4>
                  <ul>
                     <li>If you select 0% as the vested account balance available as a cash withdrawal, then an Employer Authorization is not necessary.</li>
                     <li>If you check one of the other percentages (other than 0%) as the vested account balance available as a cash withdrawal, then an Employer Authorization is required.</li>
                  </ul>
               </div>
            </div>
          </div>

        </div>


      </div>

      <div class="type60Day hidden">
        <h3>Internal - 60 Day Transfer</h3>
        <div class="infoModule visible" aria-live="polite" role="alert">
          <div>
            <span class="icon"></span>
            <h4>INFO/MESSAGE</h4>
            <p>Please be advised that effective January 1, 2015, you may only complete one 60 day rollover between any of your IRA's in any 365 day period. This new IRS rule does not impact direct trustee to trustee transfers between IRAs. For more information please see <a href="http://irs.gov">www.irs.gov</a></p>
          </div>
        </div>

        <div class="lblFieldPairV">
          <div class="lbl">
            <label id="rolloverAmount" class="txtb">Rollover Amount</label>
          </div>
          <div class="input">            
            <input type="text" id="rolloverAmount" name="rolloverAmount" class="inputm dollarFormat" placeholder="$" />
          </div>
        </div>
        <div class="clear"></div>

        <!-- Type of Account -->
        <div class="lblFieldPairV">
          <div class="lbl">
            <label id="typeOfAccount" class="txtb">Type of Account</label>
          </div>
          <div class="input">            
            <select name="typeOfAccount" data-required="true" id="typeOfAccount">
              <option value="">Please select</option>
              <option value="401(a)">401(a)</option>
              <option value="401(k)">401(k)</option>
              <option value="403(b)">403(b)</option>
              <option value="403(b)(7)">403(b)(7)</option>
              <option value="414(h)">414(h)</option>
              <option value="457(b) Public">457(b) Public</option>
              <option value="Keogh Profit Sharing">Keogh Profit Sharing</option>
              <option value="SEP IRA">SEP IRA</option>
              <option value="Roth IRA">Roth IRA</option>
              <option value="Simple IRA">Simple IRA</option>
              <option value="Traditional IRA">Traditional IRA</option>
              <option value="Keogh Money Purchase">Keogh Money Purchase</option>
              <option value="Roth 401(k)">Roth 401(k)</option>
              <option value="Roth 403(b)">Roth 403(b)</option>
              <option value="Roth 457(b)">Roth 457(b)</option>
              <option value="Defined Benefit Plan">Defined Benefit Plan</option>
            </select>
          </div>
        </div>
        <div class="clear"></div>

      </div>


      <div class="btnBar">
        <button class="btn2" title="Next"><span>Next</span></button>
        <!-- <button class="btn3" title="Exit"><span>Exit</span></button>
        <button class="btn2" title="Save"><span>Save</span></button>
        <button class="btn" title="Confirm & Continue"><span>Confirm & Continue</span></button> -->
      </div>
    </div>
  </div>

</div>

<!-- Sticky Footer -->
<div class="stickyFooter">
   <div class="btnBar">
      <div class="pllg prlg">
         <a href="#" class="btn3 fll" title="Return to Funding Source"><span>Return to Funding Source</span></a>
         <a href="#" class="btn3" title="Remove this Source"><span>Remove this Source</span></a>
         <a href="#" class="btn3" title="Save"><span>Save</span></a>
         <a href="#" class="btn flr" title="Add Funding Details"><span>Add Funding Details</span></a>
      </div>
   </div>
</div>