<div id="container"> 
  <!-- Header -->
  <header>
    <div class="headercontent">
       <div class="logo">
  <a href="#">
    <img alt="TIAA CREF - Financial Services" src="../../themes/ud_atom/images/logo_udwiki.gif"></a>
  TIAA-CREF.org
</div>
        <div class="headertitle">Co-Branding Title</div>
        <div class="globalutil">
          <div class="utillinks" role="navigation">
            <ul aria-label="Utility Navigation">
              <li class="first">Hi, John</li>
              <li>
                <a href="#">Log out</a>
              </li>
              <li class="last">
                <span class="today">Today</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- Global Search Form -->
        <div class="globalsearch">
          <div class="searchBox" role="search">
            <form>
              <span id="searchlabel" class="screenReader">Search</span>
              <div class="globalselect">
                <select class="mrs" id="sel" name="sel" aria-required="true">
                  <option selected="selected" value="SSN">SSN</option>
                  <option value="PIN">PIN</option>
                  <option value="AC">Access Code</option>
                </select>
              </div>
              <input type="text" autocomplete="off" id="searchBox-input" name="searchBox-input" class="txtInput txtlt" value="" aria-labelledby="searchlabel" placeholder="Search">
              <input type="submit" name="searchBox-button" id="searchBox-btn" class="btnSubmit" title="Submit" value="Submit"></form>
          </div>
        </div>

    </div>
  </header>
  <!-- Content -->
  <div class="content twoColN"> 
    <!-- Global Message -->
    <div class="globalmsg"></div>
    <!-- Page Header -->
    <div class="pageheader"></div>
    <!-- Page Content -->
    <div class="pagecontent"> 
      <!--  UD Specific title  -->
      <div class="pagetitle">
        <div class="pageTitleWrapper"> 
			<!-- UD Page Title -->
            <div class="pageTitleUD">
                <img class="mr" src="../../themes/ud_atom/images/userlogo.png">
                <h1 class="first titlePage">Project Title</h1>
                <span class="last titleUser">Patricia  Pension</span>
            </div>
            <!-- UD Page Indicators -->
            <div class="pageIndicatorsUD">
                <span class="eas eas-eefirst whitefont">EAS</span>
                <span class="eas eas-ee whitefont">Privacy</span>
                <span class="eas eas-ee whitefont">QDRO</span>
                <span class="eas eas-ee whitefont">IRS</span>
                <span class="eas eas-ee whitefont">MV</span>
                <span class="eas eas-ee whitefont">TRUST</span>
                <!-- Tooltip updated as per ADA compliance -->
                <input type="button" id="tooltip-legend" name="tooltip-legend" class="tipLink2" value="Legend" role="button" aria-describedby="help-legendText" aria-required="false" data-tooltip-location="bottom" />
                <div class="tipContents" id="help-legendText" role="tooltip" aria-hidden="true">Lorem Ipsum</div>
            </div>
        </div>
      </div>
      <!-- Left Column -->
      <section class="leftcol" id="leftColumn"> Left Navigation </section>
      <!-- Content Column -->
      <section class="contentcol" id="contentColumn"> 
        <!-- Wrapper -->
        <div id="wrapper">
          	<!-- Panels -->
            <!-- Panels -->
<div class="panels">
    <div class="hd first" id="link">
        <h3 id="link1">
            <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
                <span class="icon">+</span>
                Version 1 - Link1
            </a>
        </h3>
    </div>
    <div class="content">
        <div class="bd">
        Lorem Ipsum
        </div>
    </div>
</div>
<!-- End Panels -->

			<!-- End Panels -->

        </div>
        <!-- End wrapper --> 
      </section>
      <!-- End contentcol --> 
      <!-- Right Coumn -->
      <div class="rightcol"></div>
    </div>
    <!-- End pagecontent --> 
  </div>
  <!-- End content-->
  
  <div class="popup">
    
  </div>
</div>
<!-- End container -->