<div class="panels">
  <div class="hd first">
    <h3> <a href="javascript:void(0)" class="expanded"> <span class="icon">+</span>Funding Source Detail</a></h3>
  </div>
  <div class="content bgexpanded">
    <div class="bd">
      <div class="clearfix">
        <div class="one_third">
          <h3> Client Details </h3>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Name</label>
            </div>
            <div class="input"> Aubrey Graham </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Address</label>
            </div>
            <div class="input"> 156 Birch Lane <br/>
              Cambridge, MA 02140 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Phone</label>
            </div>
            <div class="input"> (617) 894-3026 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Email</label>
            </div>
            <div class="input"> agraham@drakemail.com </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> SSN</label>
            </div>
            <div class="input"> 012-34-5678 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> PIN</label>
            </div>
            <div class="input"> 224406 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> DOB</label>
            </div>
            <div class="input"> 01/01/1979 </div>
          </div>
          <div class="clear"></div>
          <h4>TIAA Contract</h4>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Contract Number</label>
            </div>
            <div class="input"> 99-00001 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Plan Name</label>
            </div>
            <div class="input"> TIAA IRA - Traditiona </div>
          </div>
        </div>
        <div class="one_third">
          <h3>Transfer Details</h3>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Wire Transfer</label>
            </div>
            <div class="input"> Yes </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> IRC Code</label>
            </div>
            <div class="input"> 401(k) Retirement Plan </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Account Number</label>
            </div>
            <div class="input"> 10000150 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Amount</label>
            </div>
            <div class="input"> $278,000.00 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Liquidation Instructions </label>
            </div>
            <div class="input"> Liquidate entire account immediately </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Allocation Instructions</label>
            </div>
            <div class="input"> Option 2: Allocate to the default investment option </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Does the account contain any Certificates of Deposit (CDs)?</label>
            </div>
            <div class="input"> Yes </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> When would you like to liquidate (cash out) your CD(s)? </label>
            </div>
            <div class="input"> Wait for maturity </div>
          </div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Maturity Date</label>
            </div>
            <div class="input"> 12/31/2016 </div>
          </div>
        </div>
        <div class="one_third column_last">
          <h3>Carrier Details</h3>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Carrier Name </label>
            </div>
            <div class="input"> Midwest Investment Trust </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Carrier Mailing Address </label>
            </div>
            <div class="input"> 3719 Gravois Ave.<br />
              Suite 444 <br/>
              St. Louis, MO  69554 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Carrier Phone </label>
            </div>
            <div class="input"> (314) 999-1212 </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hd">
    <h3> <a href="javascript:void(0)" class="collapsed"> <span class="icon">+</span>Funding Forms Review</a></h3>
  </div>
  <div class="content">
    <div class="bd">
      <div class="noticeModule visible" aria-live="polite" role="alert">
        <div> <span class="icon"></span>
          <h4>NIGO: MSG Ops have indicated NIGO.</h4>
          <p>On 10/01/2016, J. Smith provided the following NIGO reason(s) and comment:</p>
          <ul>
            <li>Dynamic reason A</li>
            <li>Dynamic reason B</li>
          </ul>
          <p class="txtb mt">Comment:</p>
          <p>Funding forms are not-in-good-order for several reasons. My advice would be to throw everything away and start over.</p>
        </div>
      </div>
      <div class="noticeModule" aria-live="polite" role="alert" id="alert2">
        <div> <span class="icon"></span>
          <h4 class="fll">NIGO:</h4>
          <span>This funding source was declared NIGO and send notification to Money Movement Specialist.</span>
          <div class="flr txtb txt14"><a href="#" id="prototypeOnlyrst">For Prototype Only - RST</a></div>
          <p class="mt">On 10/01/2016, A. Banks provided the following NIGO reason(s) and comment:</p>
          <ul>
            <li>Dynamic reason A</li>
            <li>Dynamic reason B</li>
          </ul>
        </div>
      </div>
      <div id="prototypeRst" class="closed">
        <h4>This Funding was declared NIGO</h4>
        <h4>Fields marked with an asterisk (<span class="required">*</span>) are required.</h4>
        <h4>NIGO Reasons</h4>
        <ul>
          <li>Dynamic reason A</li>
          <li>Dynamic reason B</li>
        </ul>
        <h4>Next Steps <span class="required">*</span></h4>
        <ul class="nlist">
          <li>
            <input type="radio" name="nextSteps" value="resendForms" id="resendForms">
            Resend forms</li>
          <li>
            <input type="radio" name="nextSteps" value="awaitingForms" id="awaitingForms">
            Awaiting forms</li>
          <li>
            <input type="radio" name="nextSteps" value="awaitingDocuments" id="awaitingDocuments">
            Awaiting documents</li>
          <li>
            <input type="radio" name="nextSteps" value="resolveNigo" id="resolveNigo">
            Resolve NIGO</li>
        </ul>
        <div id="resendformsCon" class="closed">
          <h4>Please Select a Delivery Method<span class="required">*</span></h4>
          <ul class="nlist">
            <li>
              <input type="radio" name="eDelivery" value="radio" id="eDelivery">
              eDelivery</li>
            <li>
              <input type="radio" name="Print local" value="radio" id="printLocal">
              Print local</li>
          </ul>
        </div>
        <div id="awaitingFormsCon" class="closed">
          <h4>What method will the customer use to return the <span id="awaitingCon">forms to TIAA?</span><span class="required">*</span></h4>
          <ul class="nlist">
            <li>
              <input type="radio" name="eDelivery" value="radio" id="awaitingformsUpload">
              Upload</li>
            <li>
              <input type="radio" name="Print local" value="radio" id="awaitingFormsmail">
              Mail (Please select this if wet signature is required)</li>
            <li>
              <input type="radio" name="Print local" value="radio" id="awaitingFormsfax">
              Fax</li>
          </ul>
        </div>
        <h4><span id="textareaCon">Notes</span><span class="required">*</span></h4>
        <textarea rows="6" cols="71" id="instructionsImaging" name="instructionsImaging" class="mtxs"></textarea>
      </div>
      <div id="formReview" class="">
        <h4 class="mtxlg mbxs fundingDefaultHeader">Form Review</h4>
        <div class="lblFieldPairGroup">
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for="formStatus">Please indicate the status of the forms.<span title="required" class="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" aria-labelledby="formStatus" name="fundform" id="fundform-nigo">
                  <label for="formStatus-nigo">NIGO</label>
                </li>
                <li>
                  <input type="radio" aria-labelledby="formStatus" name="fundform" id="fundform-igo">
                  <label for="formStatus-igo">IGO</label>
                </li>
                <li>
                  <input type="radio" aria-labelledby="formStatus" name="fundform" id="fundform-igoMsg">
                  <label for="formStatus-igoMsg">IGO and send for MSG</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mb closed" ><span class="txtb">Batch number - </span> Enter the batch number   of the Additional Forms received<span title="required" class="required">*</span>
          <input type="text" class="inputs">
        </div>
        <div class="nigo_fund closed xxwide">
          <div class="lblFieldPairGroup">
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="loa">Is this a wealth client?<span class="required" title="required">*</span></label>
              </div>
              <div class="input">
                <ul class="lblinline">
                  <li>
                    <input type="radio" id="wealthClient-yes" name="loa" aria-labelledby="loa">
                    <label for="wealthClient-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" id="wealthClient-no" name="loa" aria-labelledby="loa">
                    <label for="wealthClient-no">No</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <h5>Please indicate which NIGO issues exist.<span title="required" class="required">*</span></h5>
          <div class="fll mrxlg prxlg">
            <ul class="lblSelectPair">
              <li>
                <input type="checkbox" aria-labelledby="incorrectOrMissing" name="incorrectOrMissing" id="incorrectOrMissing">
                <label for="incorrectOrMissing">Incorrect or missing forms/paperwork</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingPages" name="missingPages" id="missingPages">
                <label for="missingPages">Missing pages</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="traFormOutdated" name="traFormOutdated" id="traFormOutdated">
                <label for="traFormOutdated">TRA form is outdated</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="traFormMissing" name="traFormMissing" id="traFormMissing">
                <label for="traFormMissing">TRA form missing date</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingPersonalInfo" name="missingPersonalInfo" id="missingPersonalInfo">
                <label for="missingPersonalInfo">Missing or incorrect personal info</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingIRCCode" name="missingIRCCode" id="missingIRCCode">
                <label for="missingIRCCode">Missing or incorrect IRC code</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="liquidationDiscrepancy" name="liquidationDiscrepancy" id="liquidationDiscrepancy">
                <label for="liquidationDiscrepancy">Liquidation instructions discrepancy</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingStatement" name="missingStatement" id="missingStatement">
                <label for="missingStatement">Missing statement</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="outdatedStatement" name="outdatedStatement" id="outdatedStatement">
                <label for="outdatedStatement">Outdated statement</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="nameMissing" name="nameMissing" id="nameMissing">
                <label for="nameMissing">Clients name missing from statement</label>
              </li>
            </ul>
          </div>
          <div class="fll mlxlg  plxlg">
            <ul class="lblSelectPair">
              <li>
                <input type="checkbox" aria-labelledby="nameDiscrepancy" name="nameDiscrepancy" id="nameDiscrepancy">
                <label for="nameDiscrepancy">Name discrepancy</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="accountNumberDiscrepancy" name="accountNumberDiscrepancy" id="accountNumberDiscrepancy">
                <label for="accountNumberDiscrepancy">Account number discrepancy</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingEmployerAuth" name="missingEmployerAuth" id="missingEmployerAuth">
                <label for="missingEmployerAuth">Missing employer authorization</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingSpousalWaiver" name="missingSpousalWaiver" id="missingSpousalWaiver">
                <label for="missingSpousalWaiver">Missing spousal waiver</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="incorrectContract" name="incorrectContract" id="incorrectContract">
                <label for="incorrectContract">Incorrect contract</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingEnrollment" name="missingEnrollment" id="missingEnrollment">
                <label for="missingEnrollment">Missing enrollment</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="planRules" name="planRules" id="planRules">
                <label for="planRules">Plan rules</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="termDate" name="termDate" id="termDate">
                <label for="termDate">Term date</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="otherNIGOReasons" name="otherNIGOReasons" id="otherNIGOReasons">
                <label for="otherNIGOReasons">Other NIGO reason</label>
                <div class="otherNIGOComment_wrapper hidden">
                  <p class="nm pts">Please provide the "Other" reason.<span title="required" class="required">*</span></p>
                  <textarea name="otherNIGOComment" id="otherNIGOComment" cols="30" rows="4"></textarea>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="igo_fund  closed xxwide">
          <div class="lblFieldPair closed">
            <div class="lbl">
              <label for="loa">Batch number</label>
            </div>
            <div class="input">
              <input type="text" class="inputs">
            </div>
          </div>
          <h5>Are any additional forms required?</h5>
          <div class="lblFieldPairGroup">
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="loa">LOA<span title="required" class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="lblinline">
                  <li>
                    <input type="radio" aria-labelledby="loa" name="loa" id="loa-yes">
                    <label for="loa-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" aria-labelledby="loa" name="loa" id="loa-no">
                    <label for="loa-no">No</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="CorporateResolutionLetter">Corporate Resolution Letter<span title="required" class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="lblinline">
                  <li>
                    <input type="radio" aria-labelledby="CorporateResolutionLetter" name="CorporateResolutionLetter" id="CorporateResolutionLetter-yes">
                    <label for="CorporateResolutionLetter-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" aria-labelledby="CorporateResolutionLetter" name="CorporateResolutionLetter" id="CorporateResolutionLetter-no">
                    <label for="CorporateResolutionLetter-no">No</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <h4 class="mbxs mtxlg">Third Party Authorization Required</h4>
          <div class="lblFieldPairGroup">
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="spousalWaiver">Spousal Waiver<span title="required" class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="lblinline">
                  <li>
                    <input type="radio" aria-labelledby="spousalWaiver" name="spousalWaiver" id="spousalWaiver-yes">
                    <label for="spousalWaiver-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" aria-labelledby="spousalWaiver" name="spousalWaiver" id="spousalWaiver-no">
                    <label for="spousalWaiver-no">No</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="employerAuthorization">Employer Authorization<span title="required" class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="lblinline">
                  <li>
                    <input type="radio" aria-labelledby="employerAuthorization" name="employerAuthorization" id="employerAuthorization-yes">
                    <label for="employerAuthorization-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" aria-labelledby="employerAuthorization" name="employerAuthorization" id="employerAuthorization-no">
                    <label for="employerAuthorization-no">No</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="otherAuth">Other<span title="required" class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="lblinline">
                  <li>
                    <input type="radio" aria-labelledby="otherAuth" name="otherAuth" id="otherAuth-yes">
                    <label for="otherAuth-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" aria-labelledby="otherAuth" name="otherAuth" id="otherAuth-no">
                    <label for="otherAuth-no">No</label>
                  </li>
                </ul>
              </div>
              <input type="text" placeholder="" class="inputxxlg hidden" name="otherInput" id="otherInput">
            </div>
          </div>
          <h4 class="mbxs mtxlg">Forms Required</h4>
          <div class="lblFieldPairGroup">
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="tiaa">TIAA<span title="required" class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="lblinline">
                  <li>
                    <input type="radio" aria-labelledby="tiaa" name="tiaa" id="tiaa-yes">
                    <label for="tiaa-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" aria-labelledby="tiaa" name="tiaa" id="tiaa-no">
                    <label for="tiaa-no">No</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="altCarrier">ALT Carrier<span title="required" class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="lblinline">
                  <li>
                    <input type="radio" aria-labelledby="altCarrier" name="altCarrier" id="altCarrier-yes">
                    <label for="altCarrier-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" aria-labelledby="altCarrier" name="altCarrier" id="altCarrier-no">
                    <label for="altCarrier-no">No</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="altCarrier">Does Alt Carrier accept copies? <span title="required" class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="lblinline">
                  <li>
                    <input type="radio" aria-labelledby="altCarrier" name="altCarriercopy" id="altCarriercopy-yes">
                    <label for="altCarriercopy-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" aria-labelledby="altCarrier" name="altCarriercopy" id="altCarriercopy-no">
                    <label for="altCarriercopy-no">No</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPair mtxlg">
              <div class="lbl">
                <label for="overnight">Overnight mail to Alt Carrier required?<span title="required" class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="lblinline">
                  <li>
                    <input type="radio" aria-labelledby="overnight" name="overnight" id="overnight-yes">
                    <label for="overnight-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" aria-labelledby="overnight" name="overnight" id="overnight-no">
                    <label for="overnight-no">No</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPair">
              <div class="lbl">
                <label for="overnight">Should this transfer be faxed?<span title="required" class="required">*</span></label>
              </div>
              <div class="input" id="tranferfax">
                <ul class="lblinline">
                  <li>
                    <input type="radio" aria-labelledby="docuemnttranfer" name="docuemnttranfer" id="tranfer-yes">
                    <label for="overnight-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" aria-labelledby="docuemnttranfer" name="docuemnttranfer" id="tranfer-no">
                    <label for="overnight-no">No</label>
                  </li>
                  <li>
                      <input type="text" class="inputs hidden" id="faxtext"/>
                  </li>                  
                </ul>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <h4 class="mbxs">Instructions</h4>
          <p class="formfundinstruction nm">Provide instructions for the Imaging Transfers Team to complete alternate carrier package period. </p>
          <textarea class="mtxs" name="instructionsImaging" id="instructionsImaging" cols="71" rows="6"></textarea>
        </div>
      </div>
      <div class="btnBar mrs prxs closed" id="nigobeforeSubmitBtn"> <a title="Cancel" class="btn3" href="#closePopup"><span>Cancel Funding Request</span></a> <a title="Submit" class="btn nigoSubmitBtn" href="#" id="reviewStatusb"><span>Submit</span></a> </div>
    </div>
  </div>
</div>
