/*===========================================================
=            Style to overwrite for this project            =
===========================================================*/
section.drop2{margin-bottom:20px!important;}
.cm .hd{background: none repeat scroll 0 0 #EAEBED !important;border-bottom: 1px solid #DCDFE4;border-top: 1px solid #F1F2F3;padding: 8px 15px 8px 20px;position: relative;margin-top:0 !important}
.cm .hd, .cm .hd:hover{cursor: default; }
.cm .hd h2, .cm .hd h3, .cm .hd h4 { margin:0; padding:0 }
.cm .bd{padding:15px 20px 15px 20px !important}
.cm .np {padding:0!important}
/* ==========================================================================
   START: iBob and myBob
   ========================================================================== */


/*iBob and myBob Layout*/
.bobContainer{
	min-width: 980px;
	height: 100%;
	position: relative;
	padding-top: 20px;
}

.bobContainer a.minusLink{
	display: block;
	clear: both;
	position: fixed;
	left: 20px;
	top: 140px;
}
.bobContainer.expanded .firstColumn{
	display: block;
	position: fixed;
	/*height: 400px;*/
	width: 200px;
	left: 20px;
	overflow: auto;
	float: left;
	background-color: #f90;
}
.bobContainer.collapsed .firstColumn{
	display: none;
}

.bobContainer .secondColumn{
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;   
    -o-transition: all 0.2s ease;    
    transition:all 0.2s ease;
}
.bobContainer.expanded .secondColumn{
	position: relative;
	display: block;
	float: left;
	width: calc(100% - 220px);
	margin-left: 220px;
}
.bobContainer.collapsed .secondColumn{
	width: 100%;
	margin-left: 0;
}
.bobContainer .tableWrapper{
	overflow-x: auto;
	overflow-y: hidden;
}
.planpanel .panels{
	margin-top: 0px !important;
}
.myTabContent{
	display: none;
}
.nicescroll-rails{
	left: 225px;
}

.popup label{

	display:inline !important;
}

/*==========  END: iBob and myBob  ==========*/
