<!-- Add External Source starts here -->
<div id="srhLookPopup" class="popup" data-popup="width:950" title="Alt Carrier Address Look-Up">
	<div class="body">	
		<h3 class="nmt">Search By</h3>
		<form name="srhLookForm" id="srhLookForm">
			<div id="srhLookErrors" class="alertModule">
				<div>
				<span class="icon"></span>
				<h4 role="alert">Error:</h4>
				<ul>
					<li role="alert" id="adrCarrName-err">Alt Carrier Name</li>
					<li role="alert" id="adrZip-err">Please enter a Zip code to search for the Alt Carrier Address</li>				
				</ul>
				</div>
			</div>
			<div class="lblFieldPairGroup">
				<div class="lblFieldPairV">
					<div class="lbl"><label>Alt Carrier Name<span class="required">*</span></label></div>
					<div class="input">
						<input type="text" id="adrCarrName" class="inputlg" value=""/>
					</div>		
				</div>		
				<div class="lblFieldPairV">
					<div class="lbl"><label>Zip Code <span class="required">*</span></label></div>
					<div class="input"><input type="text" id="adrZip" class="inputlg" value=""/></div>		
				</div>
				<div class="lblFieldPairV">
					<div class="lbl">&nbsp;</div>
					<div class="input"><button class="btn btnSmall" title="Add" id="searchBtn"><span>Search</span></button>	</div>						
				</div>
			</div>
		</form>
		<div class="clear mb bsep"></div>
		<div class="srhResultsDiv closed">
			<h3 class="nm">Search Results for</h3>
			<h4 class="mts nmb txt14">"<span class="adrCarrName-Txt"></span>" in "<span class="adrZip-Txt"></span>"<span class="flr">Results 1- 20 of 40</span></h4>
			<div class="clear"></div>
			<div class="flexScroll max-height250">
				<table class="styleA fw" summary="Search Table">
					<caption>Search Table</caption>
					<thead>
						<tr>
							<th>Name</th>
							<th>Address L1</th>
							<th>Address L2</th>
							<th>City</th>
							<th>State</th>
							<th>Zip</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Bank of Africa</td>
							<td>16 Random St.</td>
							<td>&nbsp;</td>
							<td>Chicago</td>
							<td>IL</td>
							<td>534</td>
							<td><a href="#">Select</a></td>
						</tr>
						<tr>
							<td>Bank of Africa</td>
							<td>16 Random St.</td>
							<td>&nbsp;</td>
							<td>Chicago</td>
							<td>IL</td>
							<td>534</td>
							<td><a href="#">Select</a></td>
						</tr>
						<tr>
							<td>Bank of Africa</td>
							<td>16 Random St.</td>
							<td>&nbsp;</td>
							<td>Chicago</td>
							<td>IL</td>
							<td>534</td>
							<td><a href="#">Select</a></td>
						</tr>
						<tr>
							<td>Bank of Africa</td>
							<td>16 Random St.</td>
							<td>&nbsp;</td>
							<td>Chicago</td>
							<td>IL</td>
							<td>534</td>
							<td><a href="#">Select</a></td>
						</tr>
						<tr>
							<td>Bank of Africa</td>
							<td>16 Random St.</td>
							<td>&nbsp;</td>
							<td>Chicago</td>
							<td>IL</td>
							<td>534</td>
							<td><a href="#">Select</a></td>
						</tr>
						<tr>
							<td>Bank of Africa</td>
							<td>16 Random St.</td>
							<td>&nbsp;</td>
							<td>Chicago</td>
							<td>IL</td>
							<td>534</td>
							<td><a href="#">Select</a></td>
						</tr>
						<tr>
							<td>Bank of Africa</td>
							<td>16 Random St.</td>
							<td>&nbsp;</td>
							<td>Chicago</td>
							<td>IL</td>
							<td>534</td>
							<td><a href="#">Select</a></td>
						</tr>
						<tr>
							<td>Bank of Africa</td>
							<td>16 Random St.</td>
							<td>&nbsp;</td>
							<td>Chicago</td>
							<td>IL</td>
							<td>534</td>
							<td><a href="#">Select</a></td>
						</tr>
						<tr>
							<td>Bank of Africa</td>
							<td>16 Random St.</td>
							<td>&nbsp;</td>
							<td>Chicago</td>
							<td>IL</td>
							<td>534</td>
							<td><a href="#">Select</a></td>
						</tr>
						<tr>
							<td>Bank of Africa</td>
							<td>16 Random St.</td>
							<td>&nbsp;</td>
							<td>Chicago</td>
							<td>IL</td>
							<td>534</td>
							<td><a href="#">Select</a></td>
						</tr>
					</tbody>
				</table>
				<div class="pagenavi">
				  <div id="paginglabel" class="screenReader">Pagination</div>
				  <div class="fll">
					<label for="pageselect">Results Per Page</label>
					<select id="pageselect" name="pageselect">
					  <option>20</option>
					  <option>15</option>
					  <option>10</option>
					  <option selected="selected">5</option>
					</select>
				  </div>
				  <ul role="navigation" aria-labelledby="paginglabel" class="pagingList">
					<li><a class="backLink" href="#" rel="prev">Previous <span class="icon"></span></a> </li>
					<li class="pageNav">
					  <label for="gotoPage">Page</label>
					  <input type="text" value="5" id="gotoPage" size="5" aria-labelledby="gotoPage ofPages" />
					  <span id="ofPages">of 100</span>
					  <input type="submit" value="Go" class="btn3 btnSmall ml" title="Submit" />
					</li>
					<li class="last"> <a href="#" class="nextLink" rel="next">Next <span class="icon"></span></a> </li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Add External Source ends here -->