<section class="drop">
  <div class="cm">
    <div class="bd">
      <div class="clearfix">
        <h3 class="nmt">Add Funding To</h3>
        <div class="clearfix">
          <div class="two_third">
            <div class="lblFieldPair">
            <div class="input nm">
              <select class="ps" id="addFundingTo">
                <option value="">Please Select an Account to Fund</option>

                <option value="11104837">11104837&nbsp;&nbsp; IS IRA (Traditional)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Balance $ 101,494.23</option>
                <option value="12358974">12358974&nbsp;&nbsp; TIAA IRA (Traditional)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Balance $&nbsp;&nbsp; 10,324.00</option>
                <option value="12358975">12358975&nbsp;&nbsp; TIAA IRA (Roth)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Balance $ 104,975.71</option>
              </select>
              <button class="btn2 btnLarge mlm addFundingToConfirmBtn" title="Confirm"><span>Confirm</span></button>
              <span class=" clear alertText txt12 hidden">Select an account to continue.</span>
            </div>
          </div>
          </div>
          <div class="one_third column_last">
            <div class="orchestrationId_wrapper hidden">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="firstName">Orchestration ID</label>
                </div>
                <div class="input">
                  C10003DET<br>
                  <em>Case Creation Pending</em>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="panels transferDetailWrapper hidden">
   
   <!-- Funding Sources -->
   <div class="hd first">
      <span class="indicatorRed flr"></span>
      <span id="indicator1" class="flr txt22 txtn mrs">Incomplete</span>
      <h3> <a title="Select to expand or collapse content below" href="javascript:void(0)" class="expanded"><span class="icon">+</span>Funding Sources</a></h3>
   </div>
   <div class="content" tabindex="0">
      <div class="bd">

        <!-- Error Alerts -->
		<div id="tDetailsAlerts" class="alertModule">
			<div>
				<span class="icon"></span>
				<h4 role="alert">Error:</h4>
				<ul>
					<li role="alert" id="dateEFT-err">"Date EFT should occur" is a required field.</li>
					<li role="alert" id="acctHolderName-err">Account Holder is a required field.</li>
					<li role="alert" id="bankRoutingNumber-err">Bank Routing Number is a required field.</li>
					<li role="alert" id="bankAccountNumber-err">Bank Account Number is a required field.</li>
					<li role="alert" id="recurringMonthly-err">Recurring monthly contributions is a required field.</li>
					<li role="alert" id="recurringStart-err">Date Recurring EFT should begin is a required field.</li>
				</ul>
			</div>
		</div>

        <h3>How will this account be funded?</h3>
        <div class="emphasis mbm"> Fields with asterisks (<span class="required">*</span>) are required. </div>
         
        <!-- External Rollovers or Transfers -->
		<div class="xwide">
			<div class="lblFieldPair">
			<div class="lbl">
				<label for="external-rollovers" class="txtb">External Rollovers or Transfers<span class="required">*</span></label>
			</div>
			<div class="input">
				<fieldset>
					<legend><span class="screenReader">External Rollovers or Transfers</span></legend>
					<ul class="lblinline np">
						<li>
							<input type="radio" id="external-rollovers-yes" name="external-rollovers" aria-labelledby="external-rollovers" />
							<label for="external-rollovers-yes">Yes</label>
						</li>
						<li>
							<input type="radio" id="external-rollovers-no" name="external-rollovers" checked="checked" aria-labelledby="external-rollovers" />
							<label for="external-rollovers-no">No</label>
						</li>
					</ul>
				</fieldset>
			</div>
			</div>
		</div>
		<div class="clear"></div>  

        <!-- Internal Rollovers or Transfers -->
		<div class="xwide">
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="internal-rollovers" class="txtb">Internal Rollovers or Transfers</label>
				</div>
				<div class="input">
					<fieldset>
					<legend><span class="screenReader">Internal Rollovers or Transfers</span></legend>
					<ul class="lblinline np">
						<li>
							<input type="radio" id="internal-rollovers-yes" name="internal-rollovers" aria-labelledby="internal-rollovers" />
							<label for="internal-rollovers-yes">Yes</label>
						</li>
						<li>
							<input type="radio" id="internal-rollovers-no" name="internal-rollovers" checked="checked" aria-labelledby="internal-rollovers" />
							<label for="internal-rollovers-no">No</label>
						</li>
					</ul>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="clear"></div>  

        <!-- Contributions (EFT or Check) -->
		<div class="xwide">
		<div class="lblFieldPair">
			<div class="lbl">
				<label for="contributionType" class="txtb">Contributions (EFT & Check)<span class="required">*</span></label>
			</div>
			<div class="input">
			<fieldset>
				<legend><span class="screenReader">Contributions (EFT or Check)</span></legend>
				<ul class="lblinline np">
					<li>
						<input type="radio" id="contributionType-yes" name="contributionType" aria-labelledby="contributionType" />
						<label for="contributionType-yes">Yes</label>
					</li>
					<li>
						<input type="radio" id="contributionType-no" name="contributionType" checked="checked" aria-labelledby="contributionType" />
						<label for="contributionType-no">No</label>
					</li>
				</ul>
			</fieldset>
			</div>
		</div>
		</div>
		<div class="clear"></div>
		<div class="extSources-wrapper hidden">
			<h4 class="nmb npb">External Rollovers or Transfers <span class="txt14"><a href="#addExternalsourcePopup" class="addExtSource flr txtb mbs mrxs">Add Source</a></span></h4>          
			<table id="tbl_extsources0" class="styleA fullwidth clear" summary="External Rollovers or Transfers">
				<caption>External Rollovers or Transfers</caption>
				<thead>
				<tr>
					<th scope="col">Company Name</th>
					<th scope="col">Transfer Amount</th>
					<th scope="col">Invesment Type</th>
					<th scope="col">Account/Contract #</th>
					<th scope="col">Orchestration ID</th>
					<th scope="col">Status</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>              
					<tr class="noDataRow">
						<td colspan="7" class="noDataToDisplay">No data to display</td>
					</tr>
					<tr class="dataRow closed">
						<td>Vanguard</td>
						<td>$10,000.00</td>
						<td>Mutual Fund</td>
						<td>99-000001</td>
						<td>92Z1776H21</td>
						<td>Completed</td>
						<td><a href="#" class="editData">Edit</a> | <a href="#" class="removeData">Remove</a></td>
					</tr>
				</tbody>
			</table>
		</div>
        <div class="clear"></div>


        <div class="intSources-wrapper mtxlg hidden">
          <h4 class="mbm bsep">Internal Rollovers or Transfers</h4>
          <h5>Select from Existing TIAA Contracts<span class="required">*</span></h5>
          <table class="styleA fullwidth clear" summary="Internal Rollovers or Transfers">
          <caption>Internal Rollovers or Transfers</caption>
            <thead>
              <tr>
                <th scope="col">Plan/Subplan</th>
                <th scope="col">Plan Name</th>
                <th scope="col">TIAA Contract #</th>
                <th scope="col" class="txtr">Current Balance</th>
                <th scope="col">Model T Capable?</th>
                <th></th>
              </tr>
            </thead>
            <tbody>              
              <tr>
                <td>IRA201 - IR2001</td>
                <td>Roth IRA</td>
                <td>NA006211  /  TA006216</td>
                <td class="txtr">$17,333.58</td>
                <td>Yes</td>
                <td class="txtc"><a href="#internalTransferMt3Popup">Add Source</a></td>
              </tr>
              <tr>
                <td>IRA101 - IR1001</td>
                <td>TRADITIONAL IRA</td>
                <td>NE009674  /  TE009679</td>
                <td class="txtr">$63,299.06</td>
                <td>No</td>
                <td class="txtc"><a href="internal_funding_detail.html?release=sprint12&toolbar=true">Add Source</a></td>
              </tr>
              <tr>
                <td colspan="5">Effect a 60-Day Rollover from a contract that no longer has a balance.</td>
                <td class="txtc"><a href="#internalAssetTransfer60Popup">Add Source</a></td>
              </tr>
              <tr>
                <td colspan="5">Effect a Rollover as a Beneficiary.</td>
                <td class="txtc"><a href="#internalAssetTransferPopup">Add Source</a></td>
              </tr>
            </tbody>
          </table>

          <div class="selInContracts mtxlg hidden">
            <h4 class="mbm bsep">Selected Internal Contracts</h4>
            <table class="styleA fullwidth clear" summary="Internal Rollovers or Transfers">
            <caption>Internal Rollovers or Transfers</caption>
              <thead>
                <tr>
                  <th scope="col">Plan/Subplan</th>
                  <th scope="col">Plan Name</th>
                  <th scope="col">TIAA Contract #</th>
                  <th scope="col" class="txtr">Current Balance</th>
                  <th scope="col">Funding Source</th>
                  <th scope="col">Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>              
                <tr>
                  <td>IRA201 - IR2001</td>
                  <td>Roth IRA</td>
                  <td>NA006211  /  TA006216</td>
                  <td class="txtr">$17,333.58</td>
                  <td>Redirect Contributions</td>
                  <td class="txthlt5">Completed</td>
                  <td class="txtc"><a href="" class="editLink mrm"><span class="icon"></span>Edit</a><a href="#" class="deleteLink mlm delRow">Delete</a></td>
                </tr>
                <tr>
                  <td>IRA101 - IR1001</td>
                  <td>Traditional IRA</td>
                  <td>HA00876534 / LA005641</td>
                  <td class="txtr">$104,796.71</td>
                  <td>TBD</td>
                  <td>
                    To be completed in Model T
                    <input type="button" id="tooltip-modelT" name="tooltip-modelT" class="tipLink" value="?" role="button" aria-describedby="help-modelT"/>
                    <div class="tipContents" id="help-modelT" role="tooltip" aria-hidden="true">This plan has been added to the list of plans to be transferred/rolled over into this account. Since this plan is Model T capable, you will need to make the actual transfer in Model T. We will provide a link to Model T in the Confirmation for this transaction.</div>
                  </td>
                  <td class="txtc"><a href="" class="editLink mrm"><span class="icon"></span>Edit</a><a href="#" class="deleteLink mlm delRow">Delete</a></td>
                </tr>
                <tr>
                  <td>403b</td>
                  <td>USC 403b</td>
                  <td>US234778</td>
                  <td class="txtr">$173,471.01</td>
                  <td></td>
                  <td class="down">Incomplete</td>
                  <td class="txtc"><a href="" class="editLink mrm"><span class="icon"></span>Edit</a><a href="#" class="deleteLink mlm delRow">Delete</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="clear"></div>
        

        <!-- EFTs or Check Contributions -->
        <div class="eftOrCheck_wrapper mtxlg hidden">
          <h4 class="nm mtxlg">EFTs and/or Check Contributions</h4>
          <div class="bsep mbm"></div>
          <p class="txtb">Select the method(s) of contribution<span class="required">*</span></p>
          
          <ul class="lblinline">
            <li>
              <input type="checkbox" id="eftOrCheck-check" name="eftOrCheck" aria-labelledby="eftOrCheck" />
              <label for="eftOrCheck-check">Check</label>
            </li>
            <li>
              <input type="checkbox" id="eftOrCheck-eft" name="eftOrCheck" aria-labelledby="eftOrCheck" />
              <label for="eftOrCheck-eft">EFT</label>
            </li>
          </ul>
          <div class="clear"></div>
          
          <!-- Check or EFT Type Selection -->
          <div class="clearfix">
            <div class="one_half">
              
              <!-- Check Selected -->
              <div class="contributionCheck-wrapper mbxlg hidden">
                <h3>Check Contribution</h3>
                <table class="styleD mbxlg" summary="Check Contribution">
                  <caption>Check Contribution</caption>
                  <tbody>
                    <tr>
                      <td class="w50"><span class="txtb">2015 Tax Year</span><br>
                      <div class="inlineAlert nobg" aria-live="polite" role="alert">
                        <div>
                          <span class="icon"></span>
                          <span>$0.00 left to contribute</span>
                        </div>
                      </div></td>
                      <td><input type="text" id="previousYear" name="previousYear" class="inputlg dollarFormat" placeholder="$" /></td>
                    </tr>
                    <tr>
                      <td class="w50"><span class="txtb">2016 Tax Year</span><br>
                      <div class="inlineAlert nobg" aria-live="polite" role="alert">
                        <div>
                          <span class="icon"></span>
                          <span>$5,900.00 left to contribute</span>
                        </div>
                      </div></td>
                      <td><input type="text" id="currentYear" name="currentYear" class="inputlg dollarFormat" placeholder="$" /></td>
                    </tr>
                    <tr>
                      <td colspan="2"><div class="bsep"></div></td>
                    </tr>
                    <tr>
                      <td class="w50"><span class="txtb">Total Amount to Send</span></td>
                      <td><input type="text" id="totalAmount" name="totalAmount" class="inputlg dollarFormat" disabled="disabled" placeholder="$" /></td>
                    </tr>
                  </tbody>
                </table>

                <h4 class="nm">Check Deposit Coupon</h4>
                <p class="mbs">Select how to send the Deposit Coupon to be returned with the check<span class="required">*</span></p>
                <select id="howSendDepositCoupon">
                  <option value="">Please Select a Delivery Method</option>
                  <option value="releaseToFufillment">Release to Fufillment</option>
                  <option value="printLocal">Print Local</option>
                  <option value="eDelivery">eDelivery</option>
                </select>
                <!-- <h4>Check Instructions</h4>
                <p>We will be sending a deposit certificate with a return envelope. Make checks payable to TIAA.</p> -->
              </div>
              <div class="clear"></div>
            

              <!-- EFT Selected -->
              <div class="contributionEFT-wrapper hidden">
                <h3 class="ptlg">EFT Contribution Information</h3>
                <p>The minimum contribution for Electronic Funds Transfer (one-time or recurring) is $100.00<br>
                Funds will be available for investment on the date recieved, not the date requested. <input type="button" id="tooltip-contributionInfo" name="tooltip-contributionInfo" class="tipLink" value="?" role="button" aria-describedby="help-contributionInfo"/>
                <div class="tipContents" id="help-contributionInfo" role="tooltip" aria-hidden="true">Please note that the effective date is in reference to the first date funds will be eligible for investment experience within the IRA.</div></p>
                
                  
                <!-- EFT Type Selection -->
                <div class="lblFieldPairV mtm">
                  <div class="lbl">
                    <label for="rothAccumulations" class="txtb">Select the frequency of this EFT<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <ul class="lblinline">
                      <li>
                        <div class="fll formsAcceptedLabel">
                          <input type="checkbox" id="eftType-oneTime" name="eftType" />
                          <label for="eftType-oneTime" class="txtn">One-time</label>
                        </div>
                      </li>
                      <li>
                        <div class="mllg fll eftTypeLabel">
                          <input type="checkbox" id="eftType-recurring" name="eftType" />
                          <label for="eftType-recurring" class="txtn">Recurring?</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>

                <!-- One-time contribution -->
                <div class="oneTime_wrapper hidden">
                  <h4 class="mbxs">One-Time Contribution</h4>
                  <table class="styleD mbxlg" summary="One-time contribution">
                    <caption>One-time contribution</caption>
                    <tbody>
                      <tr>
                        <td class="w50"><span class="txtb">2015 Tax Year</span><br>
                        <div class="inlineAlert nobg" aria-live="polite" role="alert">
                          <div>
                            <span class="icon"></span>
                            <span>$0.00 left to contribute</span>
                          </div>
                        </div></td>
                        <td><input type="text" id="previousYear" name="previousYear" class="inputlg dollarFormat" placeholder="$" /></td>
                      </tr>
                      <tr>
                        <td class="w50"><span class="txtb">2016 Tax Year</span><br>
                        <div class="inlineAlert nobg" aria-live="polite" role="alert">
                          <div>
                            <span class="icon"></span>
                            <span>$5,900.00 left to contribute</span>
                          </div>
                        </div></td>
                        <td><input type="text" id="currentYear" name="currentYear" class="inputlg dollarFormat" placeholder="$" /></td>
                      </tr>
                      <tr>
                        <td colspan="2"><div class="bsep"></div></td>
                      </tr>
                      <tr>
                        <td class="w50"><span class="txtb">Total one-time EFT amount</span></td>
                        <td><input type="text" id="totalAmount" name="totalAmount" class="inputlg dollarFormat" disabled="disabled" placeholder="$" /></td>
                      </tr>
                      <tr>
                        <td class="w50"><span class="txtb">Date EFT should occur<span class="required">*</span></span></td>
                        <td><input type="text" id="dateEFT" name="dateEFT" class="inputDate" data-required="true"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Recurring Contribution -->
                <div class="recurring_wrapper hidden">
                  <h4 class="nm">Recurring Contribution</h4>
                  <p>Recurring contributions will begin to be applied to the current calendar year.</p>
                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="">Recurring monthly contributions</label>
                    </div>
                    <div class="input">
                      <input type="text" id="recurringMonthly" name="recurringMonthly" class="inputlg dollarFormat" placeholder="$" data-required="true" />
                    </div>
                  </div>
                  <div class="clear"></div>

                  <div class="lblFieldPairV">
                    <div class="lbl">
                      <label for="">Date recurring EFT should begin</label>
                    </div>
                    <div class="input">
                      <input type="text" id="recurringStart" name="recurringStart" class="inputDate" data-required="true" />
                      <p class="dim">Recurring contributions will continue until the client calls to cancel.
                      <input type="button" id="tooltip-recurringCancel" name="tooltip-recurringCancel" class="tipLink" value="?" role="button" aria-describedby="help-recurringCancel"/>
                        <div class="tipContents" id="help-recurringCancel" role="tooltip" aria-hidden="true">To cancel an EFT, call us or log into your account at least a  day before the EFT date.</div></p>
                    </div>
                  </div>
                  <div class="clear"></div>
                  
                  <div class="recurringMonthly_wrapper hidden">
                    <div class="lblFieldPairV">
                      <div class="lbl">
                        <label for="">Total [current year] Contributions:</label>
                      </div>
                      <div class="input">
                        <input type="text" id="totalCurrent" name="totalCurrent" class="inputlg dollarFormat" disabled="disabled" placeholder="$" />
                      </div>
                    </div>
                    <div class="clear"></div>
                    <div class="lblFieldPairV">
                      <div class="lbl">
                        <label for="">Total Future Annual Contributions:</label>
                      </div>
                      <div class="input">
                        <input type="text" id="totalFuture" name="totalFuture" class="inputlg dollarFormat" disabled="disabled" placeholder="$" />
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>

                <!-- Totals -->
                <div class="totalContributions_wrapper hidden">
                  <h4 class="nm">Contribution Totals <span class="txtn">(Not including external accounts)</span></h4>
                  <table class="styleD mbxlg" summary="Total Contributions">
                    <caption>Total Contributions</caption>
                    <tbody>
                      <tr>
                        <td class="w35"><span class="txtb">Total 2015 annual contributions</span><br>
                        <input type="text" id="2015Contributions" name="2015Contributions" class="inputlg dollarFormat" disabled="disabled" placeholder="$" /></td>
                        <td class="w65">
                          <p class="down pts hidden"><span title="Error Icon" class="icAlert">Alert Icon</span>Yearly maximum contribution amount exceeded<br><a href="#contributionOverridePopup">Override</a></p>
                        </td>
                      </tr>
                      <tr>
                        <td class="w35"><span class="txtb">Total 2016 contributions</span><br>
                        <input type="text" id="2016Contributions" name="2016Contributions" class="inputlg dollarFormat" disabled="disabled" placeholder="$" /></td>
                        <td class="w65">
                          <p class="down pts"><span title="Error Icon" class="icAlert">Alert Icon</span>Yearly maximum contribution amount exceeded<br><a href="#contributionOverridePopup">Override</a></p>
                        </td>
                      </tr>
                      <tr class="totalFutureContributions_wrapper hidden">
                        <td class="w35"><span class="txtb">Total Future Annual Contributions</span><br>
                          <input type="text" id="2016Contributions" name="2016Contributions" class="inputlg dollarFormat" disabled="disabled" placeholder="$" /></td>
                        <td class="w65">
                          <p class="down pts hidden"><span title="Error Icon" class="icAlert">Alert Icon</span>Yearly maximum contribution amount exceeded<br><a href="#contributionOverridePopup">Override</a></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>     

            <!-- Contributions Made So Far -->
            <div class="one_half column_last">
              <div class="contributionsMadeSoFar hidden shdBox pm bdr">
                <h3 class="nm">Contributions Made So Far</h3>
                <p class="mtm">These amounts do not reflect any contributions made to plans outside of TIAA.<br>Max amount is based on the clients suitability record.<input type="button" id="tooltip-reflectOutside" name="tooltip-reflectOutside" class="tipLink" value="?" role="button" aria-describedby="help-reflectOutside"/>
                <div class="tipContents" id="help-reflectOutside" role="tooltip" aria-hidden="true">
                  <h4>The Contribution Limit for Patricia  Pension is based upon:</h4>
                  <p><span class="txtb">Age</span> 51</p>
                  <p><span class="txtb">Tax Filing Status</span> Married Filing Jointly</p>
                  <p><span class="txtb">Modified AGI</span> $151,000.00</p>
                  <p><span class="txtb">Employer Sponsored Plan Eligibility</span> Yes</p>
                </div>

                <!-- Contributions Made So Far -->
                <table class="styleD" summary="Contributions Made So Far">
                  <caption>Contributions Made So Far</caption>
                  <thead>
                    <tr>
                      <th scope="col" colspan="2">Total 2015 (Max of $6,500)</th>
                      <th scope="col" class="txtr"><span class="fll mrxs">$</span>6,500.00</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Traditional IRA</td>
                      <td>123456</td>
                      <td class="txtr"><span class="fll mrxs">$</span>3,500.00</td>
                    </tr>
                    <tr>
                      <td class="pblg">Roth IRA</td>
                      <td>345678</td>
                      <td class="txtr"><span class="fll mrxs">$</span>3,000.00</td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th scope="col" colspan="2">Total 2016  (Max of $6,500)</th>
                      <th scope="col" class="txtr w25"><span class="fll mrxs">$</span>600.00</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Traditional IRA</td>
                      <td>123456</td>
                      <td class="txtr"><span class="fll mrxs">$</span>200.00</td>
                    </tr>
                    <tr>
                      <td>Roth IRA</td>
                      <td>345678</td>
                      <td class="txtr"$400.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Bank Information -->
          <div class="bankInformation tqw mtxlg hidden">
            <h3>Bank Information</h3>
            <div class="lblFieldPairV">
              <div class="lbl nowrap">
               <label for="eftProvide" class="txtb">How does the client want to provide bank EFT information?<span class="required">*</span></label>
              </div>
              <div class="input">
               <fieldset>
                 <legend><span class="screenReader">How does the customer want to provide bank EFT information?</span></legend>
                 <ul class="lblinline">
                   <li>
                     <input type="radio" id="eftProvide-phone" name="eftProvide" aria-labelledby="eftProvide" />
                     <label for="eftProvide-phone">Over the phone (now)</label>
                   </li>
                 </ul>
               </fieldset>
              </div>
            </div>
            <div class="clear"></div>

            
            <div class="bankInfo_wrapper hidden">
              <!-- Accounts on file -->
                <div class="lblFieldPairV">
                   <div class="lbl nowrap">
                     <label for="acctOnFile" class="txtb">Bank accounts on file</label>
                   </div>
                   <div class="input">
                     <fieldset>
                       <legend><span class="screenReader">Account Type</span></legend>
                      <select id="acctOnFile">
                        <option value="">Please select an account</option>
                        <option value="123567345">Bank of America Checking&nbsp; &nbsp; #123567345</option>
                        <option value="987654321">Citibank&nbsp; Savings&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; #987654321</option>
                        <option value="093420485">TIAA Direct&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; #093420485</option>
                      </select>
                     </fieldset>
                   </div>
                 </div>
                 <div class="clear"></div>
              <div class="fll">
                

                <!-- Account Type -->
                <div class="lblFieldPairV">
                   <div class="lbl nowrap">
                     <label for="acctType" class="txtb">Choose the Account Type<span class="required">*</span></label>
                   </div>
                   <div class="input">
                     <fieldset>
                       <legend><span class="screenReader">Account Type</span></legend>
                       <ul class="lblinline">
                         <li>
                           <input type="radio" id="acctType-checking" name="acctType" aria-labelledby="acctType" />
                           <label for="acctType-checking">Checking</label>
                         </li>
                         <li>
                           <input type="radio" id="acctType-savings" name="acctType" aria-labelledby="acctType" />
                           <label for="acctType-savings">Savings</label>
                         </li>
                         <li>
                           <input type="radio" id="acctType-mm" name="acctType" aria-labelledby="acctType" />
                           <label for="acctType-mm">Money Market</label>
                         </li>
                       </ul>
                     </fieldset>
                   </div>
                 </div>
                 <div class="clear"></div>

                  <!-- Account Holder Name -->
                  <div class="lblFieldPairGroup">
                    <div class="lblFieldPairV">
                      <div class="lbl">
                        <label for="acctHolderFName">Account Holder<br>First Name<span class="required">*</span></label>
                      </div>
                      <div class="input">
                        <input type="text" class="inputs nameInputs" id="acctHolderFName" name="acctHolderFName">
                      </div>
                    </div>

                    <div class="lblFieldPairV">
                      <div class="lbl">
                        <label for="acctHolderMName"><br>MI</label>
                      </div>
                      <div class="input">
                        <input type="text" class="inputxs nameInputs" id="acctHolderMName" name="acctHolderMName">
                      </div>
                    </div>
                    
                    
                    <div class="lblFieldPairV nth">
                      <div class="lbl">
                        <label for="acctHolderLName"><br>Last Name<span class="required">*</span></label>
                      </div>
                      <div class="input">
                        <input type="text" class="inputm nameInputs" id="acctHolderLName" name="acctHolderLName">
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>

                 <!-- Bank Routing Number (ABA) -->
                 <div class="lblFieldPairV">
                   <div class="lbl nowrap">
                     <label for="acctABA" class="txtb">Bank Routing Number (ABA)<span class="required">*</span></label>
                   </div>
                   <div class="input">
                    <input type="text" id="bankRoutingNumber" name="bankRoutingNumber" class="inputlg" data-required="true" />
                   </div>
                 </div>
                 <div class="clear"></div>

                 <!-- Bank Account Number -->
                 <div class="lblFieldPairV">
                   <div class="lbl nowrap">
                     <label for="acctNumber" class="txtb">Bank Account Number<span class="required">*</span></label>
                   </div>
                   <div class="input">
                    <input type="text" id="bankAccountNumber" name="bankAccountNumber" class="inputlg" data-required="true" />
                   </div>
                 </div>
                 <div class="clear"></div>
                 <img src="../oneira_funding/assets/img/routingInfo.png" width="360px">
              </div>
              <div class="fll">
                <!-- Is is a joint account? -->
                <div class="lblFieldPairV">
                   <div class="lbl nowrap">
                     <label for="jointAccount" class="txtb">Is is a joint account?</label>
                   </div>
                   <div class="input">
                     <fieldset>
                       <legend><span class="screenReader">Is is a joint account?</span></legend>
                       <ul class="lblinline">
                         <li>
                           <input type="radio" id="jointAccount-no" name="jointAccount" aria-labelledby="jointAccount" />
                           <label for="jointAccount-no">No</label>
                         </li>
                         <li>
                           <input type="radio" id="jointAccount-yes" name="jointAccount" aria-labelledby="jointAccount" />
                           <label for="jointAccount-yes">Yes</label>
                         </li>
                       </ul>
                     </fieldset>
                   </div>
                 </div>
                 <div class="clear"></div>

                 <!-- Joint Holder Name -->
                 <div class="joint_wrapper hidden">
                   <div class="lblFieldPairGroup">
                      <div class="lblFieldPairV">
                        <div class="lbl">
                          <label for="jointHolderFName">Joint Holder<br>First Name<span class="required">*</span></label>
                        </div>
                        <div class="input">
                          <input type="text" class="inputs nameInputs" id="jointHolderFName" name="jointHolderFName">
                        </div>
                      </div>

                      <div class="lblFieldPairV">
                        <div class="lbl">
                          <label for="jointHolderMName"><br>MI</label>
                        </div>
                        <div class="input">
                          <input type="text" class="inputxs nameInputs" id="jointHolderMName" name="jointHolderMName">
                        </div>
                      </div>
                      
                      
                      <div class="lblFieldPairV nth">
                        <div class="lbl">
                          <label for="jointHolderLName"><br>Last Name<span class="required">*</span></label>
                        </div>
                        <div class="input">
                          <input type="text" class="inputm nameInputs" id="jointHolderLName" name="jointHolderLName">
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>

                 <!-- Bank Name -->
                 <div class="lblFieldPairV bankName_wrapper">
                   <div class="lbl nowrap">
                     <label for="bankName" class="txtb">Bank Name</label>
                   </div>
                   <div class="input">
                    <input type="text" id="bankName" name="bankName" class="inputlg" />
                   </div>
                 </div>
                 <div class="clear"></div>

                 <!-- Bank Telephone Number -->
                 <div class="lblFieldPairV">
                   <div class="lbl nowrap">
                     <label for="bankTelNumber" class="txtb">Bank Telephone Number</label>
                   </div>
                   <div class="input">
                    <input type="text" id="bankTelNumber" name="bankTelNumber" class="inputlg" />
                   </div>
                 </div>
                 <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="btnBar">
          <button class="btn2" title="Next"><span>Next</span></button>
        </div>
      </div>
   </div>

</div>
<!-- Sticky Footer -->
<div class="stickyFooter">
   <div class="btnBar">
      <div class="editBtn-wrapper pllg prlg">
         <a href="#cancelAllFundingPopup" class="btn3" title="Cancel All Funding"><span>Cancel All Funding</span></a>
         <a href="#saveFundingPopup" id="continueDetailBtn" class="btn3" title="Save"><span>Save</span></a>
         <a href="" class="btn flr" title="Submit Funding Details"><span>Submit Funding</span></a>
      </div>
   </div>
</div>