<!-- UD Page Title -->
<div class="pageTitleUD">
	<img class="mr" src="../../themes/ud_atom/images/userlogo.png">
	<h1 class="first titlePage">Internal Funding Details (<IRA Type> IRA) - Model T Not Available</h1>
	<span class="last titleUser">Penelope Pension (1060720)</span>
</div>
