<div class="panels">
  <div class="hd first">
    <h3> <a href="javascript:void(0)" class="expanded"> <span class="icon">+</span>Funding Source Detail</a></h3>
  </div>
  <div class="content bgexpanded">
    <div class="bd">
      <div class="clearfix">
        <div class="one_third">
          <h3> Client Details </h3>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Name</label>
            </div>
            <div class="input"> Aubrey Graham </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Address</label>
            </div>
            <div class="input"> 156 Birch Lane <br/>
              Cambridge, MA 02140 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Phone</label>
            </div>
            <div class="input"> (617) 894-3026 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Email</label>
            </div>
            <div class="input"> agraham@drakemail.com </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> SSN/TIN </label>
            </div>
            <div class="input"> 012-34-5678 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> PIN</label>
            </div>
            <div class="input"> 224406 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> DOB</label>
            </div>
            <div class="input"> 01/01/1979 </div>
          </div>
          <div class="clear"></div>
          <h4>TIAA Contract Information</h4>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Contract Number</label>
            </div>
            <div class="input"> 99-00001 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Plan Name</label>
            </div>
            <div class="input"> TIAA IRA - Traditiona </div>
          </div>
        </div>
        <div class="one_third">
          <h3>Transfer Details</h3>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Send funds to TIAA via wire transfer? </label>
            </div>
            <div class="input"> Yes </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> IRC Code</label>
            </div>
            <div class="input"> 401(k) Retirement Plan </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Account Number</label>
            </div>
            <div class="input"> 10000150 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Amount</label>
            </div>
            <div class="input"> $278,000.00 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Liquidation Instructions </label>
            </div>
            <div class="input"> Liquidate the entire account immediately </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Allocation Instructions</label>
            </div>
            <div class="input"> Option 2: Allocate the funds in this transfer to the default investment option (TIAA Bank Savings). </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Does this account contain any Cerificates of Deposit (CDs)?</label>
            </div>
            <div class="input"> Yes </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> When would you like to liquidate (cash out) your CD(s)? </label>
            </div>
            <div class="input"> Wait for maturity </div>
          </div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Maturity Date</label>
            </div>
            <div class="input"> 12/31/2016 </div>
          </div>
        </div>
        <div class="one_third column_last">
          <h3>Alternate Carrier Details</h3>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Alt Carrier Name </label>
            </div>
            <div class="input"> Midwest Investment Trust </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for=""> Alt Carrier Mailing Address and Phone </label>
            </div>
            <div class="input"> 3719 Gravois Ave.<br />
              Suite 444 <br/>
              St. Louis, MO  69554 </div>
          </div>
          <div class="clear"></div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for="">Alt Carrier Phone </label>
            </div>
            <div class="input"> (314) 999-1212 </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hd">
    <h3> <a href="javascript:void(0)" class="collapsed"> <span class="icon">+</span>Funding Forms Review</a></h3>
  </div>
  <div class="content">
    <div class="bd">

      <div class="noticeModule visible" aria-live="polite" role="alert" id="nigoalert">
        <div> <span class="icon"></span>
          <h4 class="fll">NIGO:</h4>
          <span>This funding source was declared NIGO and send notification to Money Movement Specialist.</span>
          <div class="flr txtb txt14"><a href="#" id="prototypeOnlyrst">For Prototype Only - RST</a></div>
          <p class="mt">On 10/01/2016, A. Banks provided the following NIGO reason(s) and comment:</p>
          <ul>
            <li>Dynamic reason A</li>
            <li>Dynamic reason B</li>
          </ul>
        </div>
      </div>
      <div id="prototypeRst" class="closed">
        <h4>This funding request was declared NIGO</h4>
        <h4>Fields marked with an asterisk (<span class="required">*</span>) are required.</h4>
        <h4>NIGO reasons</h4>
        <ul>
          <li>Dynamic reason A</li>
          <li>Dynamic reason B</li>
        </ul>
        <h4>Next step <span class="required">*</span></h4>
        <ul class="nlist">
          <li>
            <input type="radio" name="nextSteps" value="resendForms" id="resendForms">
            Resend forms</li>
          <li>
            <input type="radio" name="nextSteps" value="awaitingForms" id="awaitingForms">
            Awaiting forms</li>
          <li>
            <input type="radio" name="nextSteps" value="awaitingDocuments" id="awaitingDocuments">
            Awaiting documents</li>
          <li>
            <input type="radio" name="nextSteps" value="resolveNigo" id="resolveNigo">
            Resolve NIGO</li>
        </ul>
        <div id="resendformsCon" class="closed">
          <h4>Please Select a Delivery Method<span class="required">*</span></h4>
          <ul class="nlist">
            <li>
              <input type="radio" name="eDelivery" value="radio" id="eDelivery">
              eDelivery</li>
            <li>
              <input type="radio" name="Print local" value="radio" id="printLocal">
              Print locally</li>
          </ul>
        </div>
        <div id="awaitingFormsCon" class="closed">
          <h4>What method will the customer use to return the <span id="awaitingCon">forms to TIAA?</span><span class="required">*</span></h4>
          <ul class="nlist">
            <li>
              <input type="radio" name="eDelivery" value="radio" id="awaitingformsUpload">
              Upload digital copy</li>
            <li>
              <input type="radio" name="Print local" value="radio" id="awaitingFormsmail">
              Mail (Please select this if wet signature is required)</li>
            <li>
              <input type="radio" name="Print local" value="radio" id="awaitingFormsfax">
              Fax</li>
          </ul>
        </div>
        <h4><span id="textareaCon">Notes</span><span class="required">*</span></h4>
        <textarea rows="6" cols="71" id="instructionsImaging" name="instructionsImaging" class="mtxs"></textarea>
      </div>

      <div class="btnBar mrs prxs closed" id="prototypebtn"> <a title="Cancel" class="btn3" href="#closePopup"><span>Cancel Funding Request</span></a> <a title="Submit" class="btn nigoSubmitBtn" href="#" id="reviewStatusb"><span>Submit</span></a> </div>
    </div>
  </div>

  <div class="hd">
    <h3> <a href="javascript:void(0)" class="collapsed"> <span class="icon">+</span>MSG NIGO Review</a></h3>
  </div>
  <div class="content">
    <div class="bd">

        <div class="infoModule visible" aria-live="polite" role="alert">
           <div>
              <h4>MSG Ops - A. Jones   11/08/2016</h4>
              <ul>
                  <li>Dynamic reason 1</li>
                  <li>Dynamic reason 2</li>
                  <li>Dynamic reason 3</li>
              </ul>
              <h4 class="mt">Comment</h4>
              <p>For several very important reasons, I have this day declared the case not-in-good-order (NIGO) per our customary standards of completion and thoroughness</p>
           </div>          
        </div> 

        <div class="lblFieldPairGroup">
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for="formStatus">Please mark the status of the funding forms below.<span class="required" title="required">*</span></label>
            </div>
            <div class="input">
              <ul class="lblinline">
                <li>
                  <input type="radio" id="fundform-nigo" name="fundform" aria-labelledby="formStatus">
                  <label for="formStatus-nigo">NIGO</label>
                </li>

                <li>
                  <input type="radio" id="fundform-noaction" name="fundform" aria-labelledby="formStatus">
                  <label for="formStatus-igoMsg">No further action required</label>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="nigo_fund xxwide closed">

            <h5>Mark the existing NIGO issues below.<span class="required" title="required">*</span></h5>
            
			  <div class="fll mrxlg prxlg">  
            <ul class="lblSelectPair">
              <li>
                <input type="checkbox" aria-labelledby="incorrectOrMissing" name="incorrectOrMissing" id="incorrectOrMissing">
                <label for="incorrectOrMissing">Incorrect or missing forms/paperwork</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingPages" name="missingPages" id="missingPages">
                <label for="missingPages">Missing pages</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="traFormOutdated" name="traFormOutdated" id="traFormOutdated">
                <label for="traFormOutdated">TRA form is outdated</label>
              </li>
             
            
              <li>
                <input type="checkbox" aria-labelledby="traFormMissing" name="traFormMissing" id="traFormMissing">
                <label for="traFormMissing">TRA form missing date</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingPersonalInfo" name="missingPersonalInfo" id="missingPersonalInfo">
                <label for="missingPersonalInfo">Missing or incorrect personal information</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingIRCCode" name="missingIRCCode" id="missingIRCCode">
                <label for="missingIRCCode">Missing or incorrect IRC code</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="liquidationDiscrepancy" name="liquidationDiscrepancy" id="liquidationDiscrepancy">
                <label for="liquidationDiscrepancy">Liquidation instructions discrepancy</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingStatement" name="missingStatement" id="missingStatement">
                <label for="missingStatement">Missing statement</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="outdatedStatement" name="outdatedStatement" id="outdatedStatement">
                <label for="outdatedStatement">Outdated statement</label>
              </li>
			  <li>
                <input type="checkbox" aria-labelledby="nameMissing" name="nameMissing" id="nameMissing">
                <label for="nameMissing">Clients name missing from statement</label>
              </li>
            </ul>
          </div>
          <div class="fll mlxlg  plxlg">
            <ul class="lblSelectPair">
           
              <li>
                <input type="checkbox" aria-labelledby="nameDiscrepancy" name="nameDiscrepancy" id="nameDiscrepancy">
                <label for="nameDiscrepancy">Name discrepancy</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="accountNumberDiscrepancy" name="accountNumberDiscrepancy" id="accountNumberDiscrepancy">
                <label for="accountNumberDiscrepancy">Account number discrepancy</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingEmployerAuth" name="missingEmployerAuth" id="missingEmployerAuth">
                <label for="missingEmployerAuth">Missing employer authorization</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingSpousalWaiver" name="missingSpousalWaiver" id="missingSpousalWaiver">
                <label for="missingSpousalWaiver">Missing spousal waiver</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="incorrectContract" name="incorrectContract" id="incorrectContract">
                <label for="incorrectContract">Incorrect contract</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="missingEnrollment" name="missingEnrollment" id="missingEnrollment">
                <label for="missingEnrollment">Missing enrollment</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="planRules" name="planRules" id="planRules">
                <label for="planRules">Plan rules</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="termDate" name="termDate" id="termDate">
                <label for="termDate">Term date</label>
              </li>
              <li>
                <input type="checkbox" aria-labelledby="otherNIGOReasons" name="otherNIGOReasons" id="otherNIGOReasons">
                <label for="otherNIGOReasons">Other NIGO reason</label>
                <div class="otherNIGOComment_wrapper hidden">
                  <p class="nm pts">Please provide the "Other" reason.<span title="required" class="required">*</span></p>
                  <textarea name="otherNIGOComment" id="otherNIGOComment" cols="30" rows="4"></textarea>
                </div>
              </li>
            </ul>
          </div>

        </div>

        <div class="nigo_noaction xxwide closed">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for=""> Why is no futher action required? <span class="required">*</span></label>
              </div>
              <div class="input"> <textarea rows="3" cols="60"></textarea></div>
            </div>

        </div>

        <div class="btnBar mrs prxs closed" id="fundformbar"> <a title="Cancel" class="btn3" href="#closePopup"><span>Cancel Funding Request</span></a> <a title="Submit" class="btn nigoSubmitBtn" href="#" id="reviewStatusb"><span>Submit</span></a> </div>

        <div class="clear"></div>



    </div>
  </div>

</div>
