<section class="drop">
  <div class="cm">
    <div class="bd">
      <div class="alertModule" id="sourceDetailErrors">
        <div> <span class="icon"></span>
          <h4 role="alert">Error:</h4>
          <ul>
            <!-- <li role="alert" id="companyNameDetail-err">Select a Company Name</li>
            <li role="alert" id="productNameDetail-err">Select a Product Name</li>
            <li role="alert" id="transferValueDetail-err">Provide a Transfer Value</li>
            <li role="alert" id="acctContractDetail-err">Provide an Account / Contract Number</li>
            <li role="alert" id="investmentTypeDetail-err">Select an Investment Type</li> -->
          </ul>
        </div>
      </div>
      <fieldset id="inputDetails" class="visible">
      <legend class="screenReader">Source Details</legend>
      <div class="clearfix">
        <h3 class="nmt">Source Details</h3>
        <div class="clearfix">
          <div class="two_third">
            <div class="clearfix">
              <div class="one_third">
                <div class="lblFieldPairV ">
                  <div class="lbl">
                    <label for="companyNameDetail">Company Name<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <select  class="inputxlg" id="companyNameDetail">
                      <option value="">Select a company name</option>
                      <option value="Barclays Capital">Barclays Capital</option>
                      <option selected="selected" value="Charles Schwab">Charles Schwab</option>
                      <option value="Citibank">Citibank</option>
                      <option value="Credit Suisse">Credit Suisse</option>
                      <option value="Deutsche Bank">Deutsche Bank</option>
                      <option value="Etrade">Etrade</option>
                      <option value="Fidelity Investments">Fidelity Investments</option>
                      <option value="Goldman Sachs">Goldman Sachs</option>
                      <option value="Hilliard Lyons">Hilliard Lyons</option>
                      <option value="HSBC">HSBC</option>
                      <option value="Janney Montgomery Scott">Janney Montgomery Scott</option>
                      <option value="JP Morgan Chase">JP Morgan Chase</option>
                      <option value="Kaspick">Kaspick</option>
                      <option value="Merrill Lynch Morgan Stanley">Merrill Lynch Morgan Stanley</option>
                      <option value="Northern Trust">Northern Trust</option>
                      <option value="Nuveen lnvestments">Nuveen lnvestments</option>
                      <option value="People’s Securities">People’s Securities</option>
                      <option value="Raymond James">Raymond James</option>
                      <option value="RBC Capital Markets">RBC Capital Markets</option>
                      <option value="Scottrade">Scottrade</option>
                      <option value="Smith Barney">Smith Barney</option>
                      <option value="State Street Global Advisors">State Street Global Advisors</option>
                      <option value="Stifel Nicolaus">Stifel Nicolaus</option>
                      <option value="TD Ameritrade">TD Ameritrade</option>
                      <option value="TIAA-CREF">TIAA-CREF</option>
                      <option value="T Rowe Price">T Rowe Price</option>
                      <option value="UBS Financial">UBS Financial</option>
                      <option value="USAA Brokerage">USAA Brokerage</option>
                      <option value="Vanguard">Vanguard</option>
                      <option value="Wells Fargo">Wells Fargo</option>
                      <option value="Other">Other</option>
                    </select>
                    <input type="text" class="inputm hidden" name="otherCompany" id="otherCompany">
                  </div>
                </div>
                <div class="clear"></div>
                <div class="lblFieldPairV ">
                  <div class="lbl">
                    <label for="productNameDetail">Product Name<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <select data-required="true" class="inputxlg" id="productNameDetail">
                      <option value="">Select a product name</option>
                      <option value="db">[Populated by Alt Carrier DB]</option>
                      <option value="Other">Other</option>
                    </select>
                    <input type="text" class="inputm hidden" name="otherProduct" id="otherProduct">
                  </div>
                </div>
                <div class="clear"></div>
                <div class="lblFieldPairV ">
                  <div class="lbl">
                    <label for="investmentTypeDetail">Investment Type<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <select data-required="true" class="inputxlg" id="investmentTypeDetail">
                      <option value="">Select an investment type</option>
                      <option selected="selected"  value="Annunity / Life Insurance">Annunity / Life Insurance</option>
                      <option value="Brokerage">Brokerage</option>
                      <option value="cd">CD</option>
                      <option value="Defined Benefit">Defined Benefit</option>
                      <option value="Mutual Fund">Mutual Fund</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="one_third">
                <div class="lblFieldPairV ">
                  <div class="lbl">
                    <label for="transferValueDetail">Transfer Value<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <input type="text" data-required="true" class="inputxlg dollarFormat" name="transferValueDetail" id="transferValueDetail">
                  </div>
                </div>
                <div class="clear"></div>
                <div class="lblFieldPairV ">
                  <div class="lbl">
                    <label for="acctContractDetail">Account / Contract Number<span class="required">*</span></label>
                  </div>
                  <div class="input">
                    <input type="text" data-required="true" class="inputxlg" name="acctContractDetail" id="acctContractDetail">
                  </div>
                </div>
              </div>
              <div class="one_third column_last">
                <div style="min-height: 78px;"></div>
                <button title="Confirm" id="release_confirmDetailBtn" class="btn2"><span>Confirm</span></button>
              </div>
            </div>
          </div>
          <div class="one_third column_last"> </div>
        </div>
      </div>
      </fieldset>
      <fieldset class="hidden" id="inputReadOnly">
      <legend class="screenReader">Source Detail</legend>
      <div class="clearfix">
        <h3 class="nmt">Source Details</h3>
        <div class="clearfix">
          <div class="two_third">
            <div class="one_third">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label>Company Name</label>
                </div>
                <div class="input companyNameDetail"> Fidelity Investments </div>
              </div>
              <div class="clear"></div>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label>Product Name</label>
                </div>
                <div class="input productNameDetail">Investment Type - View </div>
              </div>
              <div class="clear"></div>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label>Investment Type</label>
                </div>
                <div class="input investmentTypeDetail">Select an Investment Type</div>
              </div>
            </div>
            <div class="one_third">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label>Transfer Value</label>
                </div>
                <div class="input transferValueDetail"></div>
              </div>
              <div class="clear"></div>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label>Account / Contract Number</label>
                </div>
                <div class="input acctContractDetail"> </div>
              </div>
            </div>
            <div class="one_third column_last">
              <div style="min-height: 78px;"></div>
              <button title="Update" id="release_updateDetailBtn" class="btn3"><span>Update</span></button>
            </div>
          </div>
          <div class="one_third column_last"></div>
        </div>
      </div>
      </fieldset>
    </div>
  </div>
</section>
<div class="panels transferDetailWrapper closed">
  <!-- Transfer Detail -->
  <div class="hd first hdexpanded"> <span class="indicatorRed flr"></span> <span class="flr txt22 txtn mrs" id="indicator1">Incomplete</span>
    <h3> <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below" id="transferDetailsPanel"><span class="icon">+</span>Transfer Details</a></h3>
  </div>
  <div tabindex="0" class="content bgexpanded" style="display: block;">
    <div class="bd">
      <div class="emphasis mbm"> Fields with asterisks (<span class="required">*</span>) are required. </div>
      <!-- Error Alerts -->
      <div class="alertModule" id="tDetailsAlerts">
        <div> <span class="icon"></span>
          <h4 role="alert">Error:</h4>
          <ul>
            <li id="phone-err" role="alert">Phone is a required field.</li>
            <li id="phoneFormat-err" role="alert">Phone number is not formatted properly - (999) 999-9999</li>
            <li id="feesExpenses-err" role="alert">Incur Fees or Expenses is a required field.</li>
            <li id="transferType-err" role="alert">Transfer Type is a required field.</li>
            <li id="accountType-err" role="alert">Account Type is a required field.</li>
            <li id="minDistReq-err" role="alert">Minimum Distribution Requirement is a required field.</li>
            <li id="wireTransfer-err" role="alert">Wire Transfer is a required field.</li>
            <li id="rothAccumulations-err" role="alert">Roth Acumulations is a required field.</li>
            <li id="fullLiquidation-err" role="alert">Full Liquidation is a required field.</li>
            <li id="custAuth-err" role="alert">Phone Transfer is a required field.</li>
            <li id="fundsSent-err" role="alert">Check Sent is a required field.</li>
            <li id="followUp-err" role="alert">Follow Up is a required field.</li>
            <li id="turnAround-err" role="alert">Turn Around is a required field.</li>
          </ul>
        </div>
      </div>
      <!-- Transfer Type -->
      <div class="lblFieldPairV">
        <div class="lbl">
          <label class="txtb" id="transferType">How will this account be funded?<span class="required">*</span></label>
        </div>
        <div class="input">
          <div class="nonCDContent">
            <select id="transferType" data-required="true" name="transferType">
              <option value="">Select</option>
              <option value="directTransferCash">Direct Transfer In-Cash</option>
              <option value="directRolloverCash">Direct Rollover In-Cash</option>
              <option value="directTransferKind">Direct Transfer In-Kind</option>
              <option value="directRolloverKind">Direct Rollover In-Kind</option>
              <option value="60DayRollover">60-Day Rollover</option>
            </select>
          </div>
          <div class="CDContent hidden">
            <select id="transferType" data-required="true" name="transferType">
              <option value="">Select</option>
              <option value="directTransferCash">Direct Transfer In-Cash</option>
              <option value="60DayRollover">60 Day Rollover</option>
            </select>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <!-- Account Type -->
      <div class="lblFieldPairV">
        <div class="lbl">
          <label class="txtb" id="accountType">Account Type (IRC)<span class="required">*</span></label>
        </div>
        <div class="input">
          <select class="accountTypeDirect" id="accountType" data-required="true" name="accountType">
            <option value="Please select" selected="">Please select</option>
            <option value="SEP IRA">SEP IRA</option>
            <option value="Roth IRA">Roth IRA</option>
            <option value="Simple IRA">Simple IRA</option>
            <option value="Traditional IRA">Traditional IRA</option>
          </select>
          <select class="accountTypeOther hidden" id="accountType" data-required="true" name="accountType">
            <option value="Please select" selected="">Please select</option>
            <option value="401(a)">401(a)</option>
            <option value="401(k)">401(k)</option>
            <option value="403(b)">403(b)</option>
            <option value="403(b)(7)">403(b)(7)</option>
            <option value="414(h)">414(h)</option>
            <option value="457(b) Public">457(b) Public</option>
            <option value="Keogh Profit Sharing">Keogh Profit Sharing</option>
            <option value="Keogh Money Purchase">Keogh Money Purchase</option>
            <option value="Roth 401(k)">Roth 401(k)</option>
            <option value="Roth 403(b)">Roth 403(b)</option>
            <option value="Roth457(b)">Roth457(b)</option>
            <option value="Defined Benefit Plan">Defined Benefit Plan</option>
          </select>
        </div>
      </div>
      <div class="clear"></div>
      <!-- Incur Fee or Expense -->
      <div class="lblFieldPairV">
        <div class="lbl">
          <label class="txtb" for="feesExpenses">[Alt carrier] Will this transaction incur a fee or expense?<span class="required">*</span></label>
        </div>
        <div class="input">
          <fieldset>
          <legend><span class="screenReader">[Alt carrier] Will this transaction incur a fee or expense?</span></legend>
          <ul class="lblinline">
            <li>
              <input type="radio" name="feesExpenses" id="feesExpenses-yes">
              <label for="feesExpenses-yes">Yes</label>
            </li>
            <li>
              <input type="radio" data-required="true" name="feesExpenses" id="feesExpenses-no">
              <label for="feesExpenses-no">No</label>
            </li>
          </ul>
          </fieldset>
        </div>
      </div>
      <div class="clear"></div>
      <div class="feesExpenses_wrapper hidden">
        <div role="alert" aria-live="polite" class="infoModule visible">
          <div> <span class="icon"></span>
            <h4>Note: Before you proceed, determine If the client is:</h4>
            <ul>
              <li>comfortable with the fee or expense. If so, continue with this transaction.</li>
              <li>hesitant or uncomfortable with the fee or expense. If so, transfer him or her to a sales agent for further consultation.</li>
            </ul>
          </div>
          <a href="" class="expanded"><span class="icon">-</span></a> </div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label class="txtb">Fee notes</label>
          </div>
          <div class="input">
            <textarea cols="80" rows="4"></textarea>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- Minimum Distribution Requirement -->
      <div class="lblFieldPairV mtlg mrxlg">
        <div class="lbl">
          <label class="txtb" id="minDistReq">[Alt carrier] Has the Required Minimum Distribution (RMD) been met?<span class="required">*</span></label>
        </div>
        <div class="input">
          <fieldset>
          <legend><span class="screenReader">[Alt carrier] Has the Required Minimum Distribution (RMD) been met?</span></legend>
          <ul class="lblinline">
            <li>
              <input type="radio" data-required="true" name="minDistReq" id="minDistReq-yes">
              <label for="minDistReq-yes">Yes</label>
            </li>
            <li>
              <input type="radio" data-required="true" name="minDistReq" id="minDistReq-no">
              <label for="minDistReq-no">No</label>
            </li>
            <li>
              <input type="radio" data-required="true" name="minDistReq" id="minDistReq-na">
              <label for="minDistReq-na">N/A</label>
            </li>
          </ul>
          </fieldset>
        </div>
      </div>
      <div class="clear"></div>
      <div class="minDistReq_wrapper hidden">
        <div class="lblFieldPairV">
          <div class="lbl">
            <label class="txtb">[Alt carrier] Are you able to process the RMD and the rollover at the same time?<span class="required">*</span></label>
          </div>
          <div class="input">
            <fieldset>
            <legend><span class="screenReader">[Alt carrier] Are you able to process the RMD and the rollover at the same time?</span></legend>
            <ul class="nlist">
              <li>
                <input type="radio" data-required="true" name="processRMDNow" id="processRMDNow-yes">
                <label for="processRMDNow-yes">Yes, both requests can be processed simultaneously.</label>
              </li>
              <li>
                <input type="radio" data-required="true" name="processRMDNow" id="processRMDNow-no">
                <label for="processRMDNow-no">No, the RMD request must be completed before making a rollover request.</label>
              </li>
            </ul>
            </fieldset>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="processRMDNow_wrapper hidden">
        <div role="alert" aria-live="polite" class="infoModule visible">
          <div> <span class="icon"></span>
            <h4>If No:</h4>
            <ul>
              <li>Because these requests can't be processed at the same time, please note that this funding request will be suspended until we have received confirmation that the RMD has been processed. Continue and submit the request, and a task will be created in Case Manager for an ROS to follow up later.</li>
            </ul>
          </div>
          <a href="" class="expanded"><span class="icon">-</span></a> </div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label class="screenReader">[Client &amp; alt carrier] When can we expect the RMD to be completed?<span class="required">*</span></label>
          </div>
          <div class="input">
            <input type="text" class="inputxs" name="whenRMDCompleted" id="whenRMDCompleted">
            <label>days</label>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- Roth Accumulations -->
      <div class="lblFieldPairV mtm">
        <div class="lbl">
          <label class="txtb" id="rothAccumulations">[Alt carrier] Are Roth accumulations a part of this account?<span class="required">*</span></label>
        </div>
        <div class="input">
          <fieldset>
          <legend><span class="screenReader">[Alt carrier] Are Roth accumulations a part of this account?</span></legend>
          <ul class="lblinline">
            <li>
              <input type="radio" data-required="true" name="rothAccumulations" id="rothAccumulations-yes">
              <label for="rothAccumulations-yes">Yes</label>
            </li>
            <li>
              <input type="radio" data-required="true" name="rothAccumulations" id="rothAccumulations-no">
              <label for="rothAccumulations-no">No</label>
            </li>
          </ul>
          </fieldset>
        </div>
      </div>
      <div class="clear ptlg"></div>
      <!-- [Alt Carrier] Firm Mailing Address and Phone -->
      <div class="firmMailingAddress_wrapper">
        <h3 class="mtxlg">[Alt carrier] Firm Mailing Address and Phone Number</h3>
        <fieldset>
        <legend class="screenReader">[Alt carrier] Firm Mailing Address and Phone Number</legend>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="fmaddress-field1">Address Line 1<span class="required">*</span></label>
          </div>
          <div class="input">
            <input type="text" class="inputxlg" name="fmaddress-field1" id="fmaddress-field1">
          </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label for="fmaddress-field2">Address Line 2</label>
          </div>
          <div class="input">
            <input type="text" class="inputxlg" name="fmaddress-field2" id="fmaddress-field2">
          </div>
        </div>
        <div class="clear"></div>
        <div class="lblFieldPairGroup">
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for="fmcity-field">City<span class="required">*</span></label>
            </div>
            <div class="input">
              <input type="text" name="fmcity-field" id="fmcity-field" class="inputlg">
            </div>
          </div>
          <div class="lblFieldPairV">
            <div class="lbl">
              <label for="fmstate">State<span class="required">*</span></label>
            </div>
            <div class="input">
              <select class="inputlg" name="fmstate">
                <option value="none" selected="selected">Select...</option>
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="Arizona">Arizona</option>
                <option value="Arkansas">Arkansas</option>
                <option value="California">California</option>
                <option value="Colorado">Colorado</option>
                <option value="Connecticut">Connecticut</option>
                <option value="Delaware">Delaware</option>
                <option value="District Of Columbia">District Of Columbia</option>
                <option value="Florida">Florida</option>
                <option value="Georgia">Georgia</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Idaho">Idaho</option>
                <option value="Illinois">Illinois</option>
                <option value="Indiana">Indiana</option>
                <option value="Iowa">Iowa</option>
                <option value="Kansas">Kansas</option>
                <option value="Kentucky">Kentucky</option>
                <option value="Louisiana">Louisiana</option>
                <option value="Maine">Maine</option>
                <option value="Maryland">Maryland</option>
                <option value="Massachusetts">Massachusetts</option>
                <option value="Michigan">Michigan</option>
                <option value="Minnesota">Minnesota</option>
                <option value="Mississippi">Mississippi</option>
                <option value="Missouri">Missouri</option>
                <option value="Montana">Montana</option>
                <option value="Nebraska">Nebraska</option>
                <option value="Nevada">Nevada</option>
                <option value="New Hampshire">New Hampshire</option>
                <option value="New Jersey">New Jersey</option>
                <option value="New Mexico">New Mexico</option>
                <option value="New York">New York</option>
                <option value="North Carolina">North Carolina</option>
                <option value="North Dakota">North Dakota</option>
                <option value="Ohio">Ohio</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Oregon">Oregon</option>
                <option value="Pennsylvania">Pennsylvania</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="Rhode Island">Rhode Island</option>
                <option value="South Carolina">South Carolina</option>
                <option value="South Dakota">South Dakota</option>
                <option value="Tennessee">Tennessee</option>
                <option value="Texas">Texas</option>
                <option value="Utah">Utah</option>
                <option value="Vermont">Vermont</option>
                <option value="Virginia">Virginia</option>
                <option value="Virgin Islands, US">Virgin Islands, US</option>
                <option value="Washington">Washington</option>
                <option value="West Virginia">West Virginia</option>
                <option value="Wisconsin">Wisconsin</option>
                <option value="Wyoming">Wyoming</option>
                <option value="Armed Forces America">Armed Forces America</option>
                <option value="Armed Forces Europe">Armed Forces Europe</option>
                <option value="Armed Forces Pacific">Armed Forces Pacific</option>
              </select>
            </div>
          </div>
          <div class="lblFieldPairV nth">
            <div class="lbl">
              <label for="fmzip">ZIP Code<span class="required">*</span></label>
            </div>
            <div class="input">
              <input type="text" class="txtr" size="5" maxlength="5" name="fmzip" id="fmzip">
            </div>
          </div>
        </div>
        </fieldset>
        <!-- Contact Info -->
        <fieldset>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label class="txtb" for="fmphone">Phone<span class="required">*</span></label>
          </div>
          <div class="input">
            <input type="text" data-required="true" name="fmphone" id="fmphone" class="inputlg">
          </div>
        </div>
        </fieldset>
        <div class="clear"></div>
      </div>
      <div class="btnBar">
        <button title="Next" class="btn2 transferDetailsPanelBtn"><span>Next</span></button>
      </div>
    </div>
  </div>
  <!-- Authorization Requirements -->
  <div class="hd"> <span class="indicatorRed flr"></span> <span class="flr txt22 txtn mrs" id="indicator1">Incomplete</span>
    <h3> <a class="collapsed" href="javascript:void(0)" title="Select to expand or collapse content below" id="authRequirementsPanel"><span class="icon">+</span>Authorization Requirements</a></h3>
  </div>
  <div tabindex="0" class="content" style="display: none;">
    <div class="bd">
      <!-- <p>Default selections (based on previous product information supplied by the selected company) are marked below.<br>Please verify this information before continuing.</p> -->
      <p>Based on the carrier and product selection, some default selections have been marked and selected below.</p>
      <div class="emphasis mbm"> Fields with asterisks (<span class="required">*</span>) are required. </div>
      <h3>Alt Carrier Questions</h3>
      <div class="clearfix">
        <div class="one_half authRequirementsForm">
          <!-- Phone Transfer -->
          <div class="lblFieldPairV mtm">
            <div class="lbl">
              <label class="txtb" for="custAuth">[Alt carrier] What method do you accept for transactions to be authorized by the client?<span class="required">*</span></label>
            </div>
            <div class="input">
              <p class="mbxs">Listed in preferred order.</p>
              <ul class="nlist">
                <li>
                  <input type="radio" name="customerAuth" id="custAuthphone" data-req="phoneAuthorization">
                  <label for="custAuth-phone">Phone authorization</label>
                </li>
                <li>
                  <input type="radio" data-required="true" name="customerAuth" id="custAuthdigital" data-req="digitallyForm">
                  <label for="custAuth-digital">Digitally authorized form</label>
                </li>
                <li>
                  <input type="radio" data-required="true" name="customerAuth" id="custAuthwetSig" data-req="paper_Signature">
                  <label for="custAuth-wetSig">Paper forms with signature</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <!-- The below 5 items are for Digital Authorization & Wet Signature scenarios -->
          <!-- What carrier forms are required? -->
		  
		  <div class="radiobtn">
          <div class="carrierForms_wrapper closed">
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb">[Alt carrier] What forms do you require?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" name="carrierForms2" id="carrierForms-tiaa">
                    <label class="txtn" for="carrierForms-tiaa">TIAA forms are accepted</label>
                  </li>
                  <li>
                    <input type="radio" data-required="true" name="carrierForms2" id="carrierForms-alt">
                    <label class="txtn" for="carrierForms-alt">Alternate carrier forms are required <span>(Alt Carrier Default)</span></label>
                  </li>
                  <li>
                    <input type="radio" data-required="true" name="carrierForms2" id="carrierForms-both">
                    <label class="txtn" for="carrierForms-both">Both TIAA and alternate carrier forms are required</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <!-- How long will it take for the client to receive your forms? -->
          <div class="timeUntilClientReceives_wrapper hidden">
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" id="timeUntilClientReceives">[Alt carrier] How long will it take for the client to receive your forms?<span class="required">*</span></label>
              </div>
              <div class="input">
                <input type="text" data-required="true" name="timeUntilClientReceives" id="timeUntilClientReceives" class="inputxs">
                days </div>
            </div>
            <div class="clear"></div>
          </div>
          <!-- Rollover Third Party Forms Questions -->
          <!-- Are third party forms required? -->
          <div class="thirdParty_wrapper closed">
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" id="thirdParty">[Alt carrier] Are any additional third party forms required?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" data-required="true" name="thirdParty2" id="thirdParty-yes">
                    <label for="thirdParty-yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" name="thirdParty2" id="thirdParty-no">
                    <label for="thirdParty-no">No</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <!-- What third party forms are required? -->
          <div class="thirdPartyForms_wrapper closed">
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" id="thirdPartyForms">[Alt Carrier] What third party forms are required?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="checkbox" data-required="true" name="thirdPartyForms2" data-req="1" id="thirdPartyForms-empAuth">
                    <label for="thirdPartyForms-empAuth">Employer authorization</label>
                  </li>
                  <li>
                    <input type="checkbox" data-required="true" name="thirdPartyForms2" data-req="2" id="thirdPartyForms-spouseWaiver">
                    <label for="thirdPartyForms-spouseWaiver">Spousal waiver</label>
                  </li>
                  <li>
                    <input type="checkbox" data-required="true" name="thirdPartyForms2" data-req="3" id="thirdPartyForms-other">
                    <label for="thirdPartyForms-other">Other third party forms</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div class="mllg flr otherthirdParty closed">
              <textarea id="#" rows="3" cols="50" class="flr" placeholder="List other forms required"></textarea>
            </div>
            <div class="clear"></div>
          </div>
          <!-- Medallion Signature Guarantee (MSG) -->
          <div class="medallionSignature_wrapper mt hidden">
		  
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" id="medallionSignature">[Alt Carrier] Is a medallion signature guarantee (MSG) required?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" data-required="true" name="medalSignature" id="medallionSignature-yes">
                    <label for="medallionSignature-yes">MSG is required</label>
                  </li>
                  <li>
                    <input type="radio" name="medalSignature" id="medallionSignature-no">
                    <label for="medallionSignature-no">MSG is not required</label>
                  </li>
                  <li>
                    <input type="radio" name="medalSignature" id="medallionSignature-loa">
                    <label for="medallionSignature-loa">MSG is NOT required, but a Wet Signed LOA is required</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <!-- [Alt carrier] Please select a Signatory for the LOA. -->
          <div class="selectSignatory_wrapper hidden">
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" id="selectSignatory">[Alt carrier] Please select a Signatory for the LOA.<span class="required">*</span></label>
              </div>
              <div class="input">
                <select id="selectSignatory">
                  <option value="">Select</option>
                  <option value="Signatory 1">Signatory 1</option>
                  <option value="Signatory 2">Signatory 2</option>
                  <option value="Signatory 3">Signatory 3</option>
                </select>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="howFormsAccepted_wrapper2 hidden">
		  
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb">[Alt carrier] How do you accept forms?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li class="docuSignShow hidden">
                    <input type="radio" name="formsAccepted" id="formsAccepted-original">
                    <label class="txtn" for="formsAccepted-original">Original paper via mail</label>
                  </li>
                  <li class="wetSignShow">
                    <input type="radio" data-required="true" name="formsAccepted" id="formsAccepted-copy">
                    <label class="txtn" for="formsAccepted-copy">Paper via mail</label>
                  </li>
                  <li class="digitalAuth wetSignShow">
                    <div class="fll">
                      <input type="radio" data-required="true" name="formsAccepted" id="formsAccepted-efax">
                      <label class="txtn" for="formsAccepted-efax">eFax</label>
                    </div>
                    <div class="fll efaxNumber hidden">
                      <input type="text" placeholder="xxx-xxx-xxxx" class="inputlg mllg" name="efaxNumber" id="efaxNumber">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <!-- How are forms accepted? -->
          <div class="howFormsAccepted_wrapper hidden">
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb">[Alt carrier] How do you accept forms?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li class="docuSignShow ">
                    <input type="radio" name="formsAccepted2" id="formsAccepted-original">
                    <label class="txtn" for="formsAccepted-original">Original paper via mail (Alt carrier default)</label>
                  </li>
                  <li class="wetSignShow">
                    <input type="radio" data-required="true" name="formsAccepted2" id="formsAccepted-copy">
                    <label class="txtn" for="formsAccepted-copy">Paper via mail</label>
                  </li>
                  <li class="digitalAuth wetSignShow">
                    <div class="fll">
                      <input type="radio" data-required="true" name="formsAccepted2" id="formsAccepted-efax">
                      <label class="txtn" for="formsAccepted-efax">Fax</label>
                    </div>
                    <div class="fll efaxNumber hidden">
                      <input type="text" placeholder="xxx-xxx-xxxx" class="inputlg mllg" name="efaxNumber" id="efaxNumber">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <!-- How do you want to send the forms to the client? -->
          <div class="sendMethod_wrapper hidden hidden">
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" id="sendMethod">How would you like to receive forms?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" name="sendMethod" id="sendMethod-emailPDF">
                    <label class="txtn" for="sendMethod-emailPDF">eMail completed PDF <span class="dim">(Default)</span></label>
                  </li>
                  <li>
                    <input type="radio" name="sendMethod" id="sendMethod-release">
                    <label class="txtn" for="sendMethod-release">Release to fulfillment</label>
                  </li>
                  <li>
                    <input type="radio" data-required="true" name="sendMethod" id="sendMethod-printLocal">
                    <label class="txtn" for="sendMethod-printLocal">Print locally</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          
          <!-- The below 4 items are for ALL scenarios -->
          <!-- How will the funds be sent? -->
          <div class="howFundsSent_wrapper hidden">
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" id="fundsSent">[Alt carrier] How will funds be sent?<span class="required">*</span></label>
              </div>
              <div class="input">
                <p class="mbxs porder">Listed in preferred order.</p>
                <ul class="nlist">
                  <li>
                    <input type="radio" data-required="true" name="fundsSent2" id="wireTransfer">
                    <label class="txtn" for="fundsSent">Wire transfer</label>
                  </li>
                  <li>
                    <input type="radio" name="fundsSent2" id="checktoTiaa">
                    <label class="txtn" for="fundsSent">Check to TIAA</label>
                  </li>
                  <li>
                    <input type="radio" name="fundsSent2" id="checktoClient">
                    <label class="txtn" for="fundsSent">Check to client</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <!-- Turnaround -->
          <div class="turnAround_wrapper hidden">
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" id="turnAround">[Alt carrier] Once you receive paperwork, how long will it take to issue the funds?<span class="required">*</span></label>
              </div>
              <div class="input">
                <input type="text" data-required="true" name="turnAround" id="turnAround" class="inputxs">
                days </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="followupconversations_wrapper hidden">
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb">[Alt carrier] Is the client required for any follow up conversations?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li class="docuSignShow">
                    <input type="radio" name="followupConversations" id="followup_Conversations">
                    <label class="txtn" for="followupConversations">Yes, Client is required for authorization to share information on any follow up.</label>
                  </li>
                  <li class="wetSignShow">
                    <input type="radio" data-required="true" name="followupConversations" id="followupConversations2">
                    <label class="txtn" for="followupConversations">No, Client authorization is no longer required.</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="followupconversations_wrapperOpt hidden">
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb">[Alt carrier] Is the client required for any follow up conversations?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li class="docuSignShow">
                    <input type="radio" name="followupConversations" id="followup_ConversationsOpt">
                    <label class="txtn" for="followupConversations">Client is required for authorization to share information on any follow up.</label>
                  </li>
                  <li class="wetSignShow">
                    <input type="radio" data-required="true" name="followupConversations" id="followupConversationsOpt2">
                    <label class="txtn" for="followupConversations">Client authorization is no longer required.</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="tiaaSendForms_wrapperOpt hidden">
		  
            <h3>Client Questions</h3>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" id="tiaaSendForms">[Client] How would you like to receive forms?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" data-required="true" name="tiaaSendForms" id="tiaaSendForms-docusign2">
                    <label class="txtn" for="tiaaSendForms-docusign">Digitally authorized form (DocuSign)</label>
                  </li>
                  <li>
                    <input type="radio" data-required="true" name="tiaaSendForms" id="tiaaSendForms-paper2">
                    <label class="txtn" for="tiaaSendForms-paper">Paper mail (Print locally)</label>
                  </li>
                  <li>
                    <input type="radio" data-required="true" name="tiaaSendForms" id="tiaaSendForms-edelivery">
                    <label class="txtn" for="tiaaSendForms-edelivery">eDelivery</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div id="primaryemail" class="lblFieldPairV closed">
              <div class="lbl">
                <label class="txtb">Primary email</label>
              </div>
              <div class="input">
                <div class="alertModule visible" role="alert">
                  <div> <span class="icon"></span> <span class="txtb">No email on file -</span> If the client wants eDelivery of forms, please add the email on the Edit Participant Details page. </div>
                </div>
                <div class="mb closed"><span class="icsuccess">Success Icon</span> penpension@gmail.com </div>
                <div class="closed"><span class="icfail closed">Fail Icon</span> no email on file</div>
              </div>
            </div>
          </div>
          <!-- Follow Up -->
          <div class="followUp_wrapper closed">
		  
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" id="followUp">[Alt carrier] Is the client required for any follow-up conversations?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" data-required="true" name="followUp" id="followUp-yes">
                    <label class="txtn" for="followUp-yes">Yes, Client is required for authorization to share information during any follow up</label>
                  </li>
                  <li>
                    <input type="radio" data-required="true" name="followUp" id="followUp-no">
                    <label class="txtn" for="followUp-no">No, Client authorization is no longer required.</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <!-- howTIAASendForms -->
          <div class="tiaaSendForms_wrapper hidden">
		  
            <h3>Client Questions</h3>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" id="tiaaClientForms">[Client] How should TIAA send forms to the client?<span class="required">*</span></label>
              </div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" data-required="true" name="tiaaClientForms2" id="tiaaClientForms-docusign">
                    <label class="txtn" for="tiaaClientForms-docusign"> Print locally</label>
                  </li>
                  <li>
                    <input type="radio" data-required="true" name="tiaaClientForms2" id="tiaaClientForms-edelivery">
                    <label class="txtn" for="tiaaClientForms-edelivery">eDelivery</label>
                  </li>
                  <li>
                    <input type="radio" data-required="true" name="tiaaClientForms2" id="tiaaClientForms-paper">
                    <label class="txtn" for="tiaaClientForms-paper">Release to fulfillment</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div class="shippingmethodCarrier hidden" id="releaseto_fullfillment">
              <div class="lblFieldPairV">
                <div class="lbl closed">
                  <label for="State">Shipping Method Carrier<span class="required">*</span></label>
                </div>
                <div class="input">
                  <select class="inputlg" name="">
                    <option value="UPS 2-day" selected="selected">UPS 2-day</option>
                    <option value="USPS Saturday">UPS 3-Dday</option>
                    <option value="USPS Saturday">UPS Early AM</option>
                    <option value="UPS Overnight">UPS Overnight</option>
                    <option value="USPS Saturday">UPS Saturday</option>
<<<<<<< HEAD
                    <option value="USPS">USPS</option>
=======
                    <option value="USPS">USPS Regular Mail</option>
>>>>>>> 8cc4b523337dff211c96f128337d7a11fdf01ca0
                  </select>
                </div>
              </div>
            </div>
            <div class="clear"></div>
            <!-- howTIAASendForms -->
          </div>
          <div id="primaryemail3" class="lblFieldPairV closed">
		  
            <div class="lbl">
              <label class="txtb">Primary email</label>
            </div>
            <div class="input"> <span class="icsuccess">Success Icon</span> <span class="ml">penpension@gmail.com</span> </div>
          </div>
		  
          <div class="clear"></div>
		  
          <div class="returnedFormsTiaa_wrapper2 hidden mtlg">
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" id="returnedFormsTiaa">[Client] How will the forms be returned to TIAA?<span class="required">*</span></label>
              </div>
              <div>Listed in preferred order</div>
              <div class="input">
                <ul class="nlist">
                  <li>
                    <input type="radio" data-required="true" name="returnedFormsTiaa" id="returnedFormsTiaa-upload">
                    <label class="txtn" for="returnedFormsTiaa-upload">Upload</label>
                  </li>
                  <li>
                    <input type="radio" data-required="true" name="returnedFormsTiaa" id="returnedFormsTiaa-mail">
                    <label class="txtn" for="returnedFormsTiaa-mail">Mail</label>
                  </li>
                  <li>
                    <input type="radio" data-required="true" name="returnedFormsTiaa" id="returnedFormsTiaa-fax">
                    <label class="txtn" for="returnedFormsTiaa-fax">Fax</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
		  
          <div id="primaryemail2" class="lblFieldPairV closed">
            <div class="lbl">
              <label class="txtb">Primary email</label>
            </div>
            <div class="input"> <span class="icsuccess">Success Icon</span> <span class="ml">penpension@gmail.com</span> </div>
          </div>
          <!-- Address -->
		  
          <div class="sourceContactInfo_wrapper hidden">
            <h3 class="mtxlg">Source Contact Information</h3>
            <fieldset>
            <legend class="screenReader">Enter Your Address</legend>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="address-field1">Address Line 1<span class="required">*</span></label>
              </div>
              <div class="input">
                <input type="text" class="inputxlg" name="address-field1" id="address-field1">
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label for="address-field2">Address Line 2</label>
              </div>
              <div class="input">
                <input type="text" class="inputxlg" name="address-field2" id="address-field2">
              </div>
            </div>
            <div class="clear"></div>
            <div class="lblFieldPairGroup">
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="city-field">City<span class="required">*</span></label>
                </div>
                <div class="input">
                  <input type="text" name="city-field" id="city-field" class="inputlg">
                </div>
              </div>
              <div class="lblFieldPairV">
                <div class="lbl">
                  <label for="State">State<span class="required">*</span></label>
                </div>
                <div class="input">
                  <select class="inputlg" name="state">
                    <option value="none" selected="selected">Please select...</option>
                    <option value="Maryland">Maryland</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="North Carolina">North Carolina</option>
                  </select>
                </div>
              </div>
              <div class="lblFieldPairV nth">
                <div class="lbl">
                  <label for="test-zip">ZIP Code<span class="required">*</span></label>
                </div>
                <div class="input">
                  <input type="text" class="txtr" size="5" maxlength="5" name="test-zip" id="test-zip">
                </div>
              </div>
            </div>
            </fieldset>
            <!-- Contact Info -->
            <fieldset>
            <div class="lblFieldPairV">
              <div class="lbl">
                <label class="txtb" for="phone">Phone<span class="required">*</span></label>
              </div>
              <div class="input">
                <input type="text" data-required="true" name="phone" id="phone" class="inputlg">
              </div>
            </div>
        
            </fieldset>
            <div class="clear"></div>
          </div>
        </div>
		
		</div>
        <div class="one_half column_last">
          <div class="">
            <div class="shdBox pm bdr w50">
              <h3 class="nm">Form Handling Summary</h3>
              <p class="mtm">Based on the selections, this is how forms will be handled.</p>
              <div class="lblFieldPair">
                <div class="lbl">
                  <label>Client authorization requirements</label>
                </div>
                <div class="input clientAuthReqIndicator"> Wet signature </div>
              </div>
              <div class="clear"></div>
              <div class="lblFieldPair">
                <div class="lbl">
                  <label>Required forms</label>
                </div>
                <div class="input reqFormsIndicator"> Alt Carrier & TIAA </div>
              </div>
              <div class="clear"></div>
              <div class="lblFieldPair">
                <div class="lbl">
                  <label>TIAA authorization requirements</label>
                </div>
                <div class="input tiaaAuthReqIndicator"> MSG required </div>
              </div>
              <div class="clear"></div>
              <div class="lblFieldPair">
                <div class="lbl">
                  <label>Delivery Method to Carrier</label>
                </div>
                <div class="input delMethodClientIndicator"> Original paper via mail </div>
              </div>
              <div class="lblFieldPair">
                <div class="lbl">
                  <label>Delivery method to client</label>
                </div>
                <div class="input delMethodClientIndicator"> TBD </div>
              </div>
              <div class="lblFieldPair">
                <div class="lbl">
                  <label>Client form return method</label>
                </div>
                <div class="input delMethodClientIndicator"> TBD </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="btnBar">
        <button title="Next" class="btn2 authRequirementsPanelBtn"><span>Next</span></button>
      </div>
    </div>
  </div>
  <!-- Handling Instructions -->
  <div class="hd"> <span class="indicatorRed flr"></span> <span class="flr txt22 txtn mrs" id="indicator1">Incomplete</span>
    <h3> <a class="collapsed" href="javascript:void(0)" title="Select to expand or collapse content below" id="handlingInstructionsPanel"><span class="icon">+</span>Handling Instructions</a></h3>
  </div>
  <div tabindex="0" class="content" style="display: none;">
    <div class="bd">
      <!-- Liquidation Options -->
      <div class="nonCDContent">
        <h4 class="mtxlg mbxs">How should the account you're moving money out of be liquidated?<span class="required">*</span></h4>
        <ul class="nlist">
          <li>
            <input type="radio" id="wtradioyes" name="wtradio">
            <label>Liquidate the entire account immediately.</label>
          </li>
          <li>
            <input type="radio" id="wtradiono" name="wtradio">
            <label>Liquidate part of the account as listed below, then transfer the funds to my TIAA IRA.</label>
          </li>
        </ul>
        <div class="wtradionoDiv mtm hidden">
          <div class="mbm txt16 txtb">Partial Liquidation Instructions</div>
          <table id="extRollTransTbl" class="styleA fw mbxlg" summary="External Rollovers or Transfers">
            <caption>
            External Rollovers or Transfers
            </caption>
            <thead>
              <tr>
                <th>Investments to Roll Over</th>
                <th>Amount to Transfer</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="txtc"><a id="" class="editLink addSourceLink addSymbl txtb" href="#addSymblPopup">Add Investment</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="CDContent hidden">
        <h4>Certificate of Deposit Liqudation Options</h4>
        <div class="lblFieldPairV">
          <div class="lbl">
            <label class="txtb" id="accountType">Maturity Date<span class="required">*</span></label>
          </div>
          <div class="input">
            <input type="text" class="inputDate hasDatepicker" name="maturityDate" id="maturityDate">
          </div>
        </div>
        <div class="clear"></div>
        <ul class="nlist">
          <li>
            <input type="radio" id="wtradioyes" name="wtradio">
            <label><span class="txtb">Liquidate immediately</span> - The client is aware of and acknowledges the penalty that will incur from an early withdrawal.</label>
          </li>
          <li>
            <input type="radio" id="wtradiono" name="wtradio">
            <label><span class="txtb">Liquidate at Maturity</span> - TIAA is not liable if the client's CD term is renewed or if penalty fees are incurred as a result of the transferring/rolling over funds from a CD.</label>
          </li>
        </ul>
      </div>
      <!-- Allocation Instructions -->
      <div class="bsep"></div>
      <h4 class="mtxlg mbxs">Allocation Instructions</h4>
      <h5 class="mtm">Choose how funds will be allocated in your TIAA IRA.<span class="required">*</span></h5>
      <ul class="nlist">
        <li>
          <input type="radio" id="allocationChoiceYes" name="allocationChoice">
          <label><span class="txtb">Option 1: </span>Use the allocation instructions already on file for the funds that are being transferred.<br>
          <em class="mlxlg plxlg">TIAA Bank Savings will be used if there are no allocation instructions on file.</em></label>
        </li>
        <li>
          <input type="radio" id="allocationChoiceNo" name="allocationChoice">
          <label><span class="txtb">Option 2:</span> Allocate the funds in this transfer to the default investment option (TIAA Bank Savings).</label>
        </li>
      </ul>
      <div class="contributionsMadeSoFar shdBox pm bdr hw hidden orangeClr" style="background-color: rgb(255, 246, 214);">
        <h5 class="nm pbm">The TIAA Bank Savings product is an FDIC vehicle for uninvested cash.</h5>
        <p class="nm closed">Key features and benefits:</p>
        <ul class="closed">
          <li>Competitive interest rate</li>
          <li>FDIC insured</li>
          <li>Limit of 6 withdrawals/transfers per month</li>
        </ul>
        <p class="nm">The client will be sent the <a href="">full Terms &amp; Conditions</a> by mail after investing.</p>
      </div>
      <div class="btnBar mrs prxs"> <a title="Next" class="btn2" id="continueDetailBtn" href="javascript:void(0);"><span>Next</span></a> </div>
    </div>
  </div>
</div>
