<!-- Popups added in Sprint 29 -->
 
<div data-popup="width:950" class="popup ui-dialog-content ui-widget-content" title="Alternate Carrier Address Look-Up" id="unsol_formsnigo_addresslookup" style="display: block; width: auto; min-height: 0px; max-height: none; height: auto;">
  <div class="body">  
    <h3 class="nmt">Search By</h3>
    <form id="srhLookForm" name="srhLookForm">
      <div class="alertModule" id="srhLookErrors">
        <div>
        <span class="icon"></span>
        <h4 role="alert">Error:</h4>
        <ul>
          <li id="adrCarrName-err" role="alert">Carrier Name</li>
          <li id="adrZip-err" role="alert">Please enter a Zip code to search for the Alt Carrier Address</li>       
        </ul>
        </div>
      </div>
      <div class="lblFieldPairGroup">
        <div class="lblFieldPairV">
          <div class="lbl"><label>Alternate Carrier Name<span class="required">*</span></label></div>
          <div class="input">
            <input type="text" value="" class="inputlg" id="adrCarrName" style="border: 1px solid green;">
          </div>    
        </div>    
        <div class="lblFieldPairV">
          <div class="lbl"><label>Zip Code </label></div>
          <div class="input"><input type="text" value="" class="inputlg" id="adrZip" style="border: 1px solid green;"></div>    
        </div>
        <div class="lblFieldPairV">
          <div class="lbl">&nbsp;</div>
          <div class="input"><a id="unsolnigo_searchBtn" title="Add" class="btn btnSmall" href="javascript:void(0);"><span>Search</span></a> </div>            
        </div>
      </div>
    </form>
    <div class="clear mb bsep"></div>
    <div class="unsolsrhResultsDivnigo hidden">
      <h3 class="nm">Search Results for</h3>
      <h4 class="mts nmb txt14">"<span class="adrCarrName-Txt">Vanguard</span>" in "<span class="adrZip-Txt">10024</span>"<span class="flr">Results 1- 20 of 40</span></h4>
      <div class="clear"></div>
      <div class="flexScroll max-height250">
        <table summary="Search Table" class="styleA fw">
          <caption>Search Table</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Address L1</th>
              <th>Address L2</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td></td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#" class="selectNigo">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td></td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#" class="selectNigo">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td></td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#" class="selectNigo">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td></td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#" class="selectNigo">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td></td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#" class="selectNigo">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td></td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#" class="selectNigo">Select</a></td>
            </tr>
          </tbody>
        </table>
        <div class="pagenavi cm nbdr">
          <div class="screenReader" id="paginglabel">Pagination</div>
          <div class="fll">
          <label for="pageselect">Results Per Page</label>
          <select name="pageselect" id="pageselect">
            <option>20</option>
            <option>15</option>
            <option>10</option>
            <option selected="selected">5</option>
          </select>
          </div>
          <ul class="pagingList" aria-labelledby="paginglabel" role="navigation">
          <li><a rel="prev" href="#" class="backLink">Previous <span class="icon"></span></a> </li>
          <li class="pageNav">
            <label for="gotoPage">Page</label>
            <input type="text" aria-labelledby="gotoPage ofPages" size="5" id="gotoPage" value="5">
            <span id="ofPages">of 100</span>
            <input type="submit" title="Submit" class="btn3 btnSmall ml" value="Go">
          </li>
          <li class="last"> <a rel="next" class="nextLink" href="#">Next <span class="icon"></span></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div data-popup="width:950" class="popup ui-dialog-content ui-widget-content" id="unsol_formsigo_addresslookup" title="Alternate Carrier Address Look-Up"style="display: block; width: auto; min-height: 0px; max-height: none; height: auto;">
  <div class="body">  
    <h3 class="nmt">Search By</h3>
    <form id="srhLookForm" name="srhLookForm">
      <div class="alertModule" id="srhLookErrors">
        <div>
        <span class="icon"></span>
        <h4 role="alert">Error:</h4>
        <ul>
          <li id="adrCarrName-err" role="alert">Carrier Name</li>
          <li id="adrZip-err" role="alert">Please enter a Zip code to search for the Alt Carrier Address</li>       
        </ul>
        </div>
      </div>
      <div class="lblFieldPairGroup">
        <div class="lblFieldPairV">
          <div class="lbl"><label>Alternate Carrier Name<span class="required">*</span></label></div>
          <div class="input">
            <input type="text" value="" class="inputlg" id="adrCarrName" style="border: 1px solid green;">
          </div>    
        </div>    
        <div class="lblFieldPairV">
          <div class="lbl"><label>Zip Code</label></div>
          <div class="input"><input type="text" value="" class="inputlg" id="adrZip" style="border: 1px solid green;"></div>    
        </div>
        <div class="lblFieldPairV">
          <div class="lbl">&nbsp;</div>
          <div class="input"><a id="unsoligo_searchBtn" title="Add" class="btn btnSmall" href="javascript:void(0);"><span>Search</span></a> </div>            
        </div>
      </div>
    </form>
    <div class="clear mb bsep"></div>
    <div class="unsolsrhResultsDivigo hidden">
      <h3 class="nm">Search Results for</h3>
      <h4 class="mts nmb txt14">"<span class="adrCarrName-Txt">Vanguard</span>" in "<span class="adrZip-Txt">10024</span>"<span class="flr">Results 1- 20 of 40</span></h4>
      <div class="clear"></div>
      <div class="flexScroll max-height250">
        <table summary="Search Table" class="styleA fw">
          <caption>Search Table</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Address L1</th>
              <th>Address L2</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td></td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#" class="selectIgo">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td></td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#" class="selectIgo">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td></td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#" class="selectIgo">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td></td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#" class="selectIgo">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td></td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#" class="selectIgo">Select</a></td>
            </tr>
            <tr>
              <td>Bank of Africa</td>
              <td>16 Random St.</td>
              <td></td>
              <td>Chicago</td>
              <td>IL</td>
              <td>534</td>
              <td><a href="#" class="selectIgo">Select</a></td>
            </tr>
          </tbody>
        </table>
        <div class="pagenavi cm nbdr">
          <div class="screenReader" id="paginglabel">Pagination</div>
          <div class="fll">
          <label for="pageselect">Results Per Page</label>
          <select name="pageselect" id="pageselect">
            <option>20</option>
            <option>15</option>
            <option>10</option>
            <option selected="selected">5</option>
          </select>
          </div>
          <ul class="pagingList" aria-labelledby="paginglabel" role="navigation">
          <li><a rel="prev" href="#" class="backLink">Previous <span class="icon"></span></a> </li>
          <li class="pageNav">
            <label for="gotoPage">Page</label>
            <input type="text" aria-labelledby="gotoPage ofPages" size="5" id="gotoPage" value="5">
            <span id="ofPages">of 100</span>
            <input type="submit" title="Submit" class="btn3 btnSmall ml" value="Go">
          </li>
          <li class="last"> <a rel="next" class="nextLink" href="#">Next <span class="icon"></span></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="search_menu" class="actionsMenu">
  <ul>
    <li class="first">Action1</li>
    <li>Action2</li>
    <li>Action3</li>
  </ul>
</div>
